In [97]:
import pandas as pd
from uszipcode import SearchEngine
import numpy as np

In [2]:
full_zipcode_db = SearchEngine(simple_zipcode = False)

In [113]:
zipcode_demographics = full_zipcode_db.by_zipcode('75270')

In [114]:
zipcode_demographics = zipcode_demographics.to_dict()

In [115]:
zipcode_demographics

{'zipcode_type': 'Standard',
 'major_city': 'Dallas',
 'post_office_city': 'Dallas, TX',
 'common_city_list': ['Dallas'],
 'county': 'Dallas County',
 'state': 'TX',
 'lat': 32.7813,
 'lng': -96.8017,
 'timezone': 'Central',
 'radius_in_miles': 0.056818181818181816,
 'area_code_list': ['214', '469', '972'],
 'population': 0,
 'population_density': None,
 'land_area_in_sqmi': 0.0,
 'water_area_in_sqmi': 0.0,
 'housing_units': 0,
 'occupied_housing_units': 0,
 'median_home_value': None,
 'median_household_income': None,
 'bounds_west': -96.803271,
 'bounds_east': -96.801192,
 'bounds_north': 32.781746,
 'bounds_south': 32.780648,
 'zipcode': '75270',
 'polygon': [[-96.802646, 32.781506],
  [-96.801487, 32.781746],
  [-96.801332, 32.781484],
  [-96.801192, 32.781013],
  [-96.801519, 32.780952],
  [-96.801625, 32.780924],
  [-96.802207, 32.780822],
  [-96.802424, 32.780776],
  [-96.802951, 32.780672],
  [-96.803049, 32.780648],
  [-96.803271, 32.781337],
  [-96.802646, 32.781506]],
 'population_by_year': [{'key': 'Data',
   'values': [{'x': 2005, 'y': 42},
    {'x': 2006, 'y': 45},
    {'x': 2007, 'y': 23}]}],
 'population_by_age': None,
 'population_by_gender': None,
 'population_by_race': None,
 'head_of_household_by_age': None,
 'families_vs_singles': None,
 'households_with_kids': None,
 'children_by_age': None,
 'housing_type': None,
 'year_housing_was_built': None,
 'housing_occupancy': None,
 'vancancy_reason': None,
 'owner_occupied_home_values': None,
 'rental_properties_by_number_of_rooms': None,
 'monthly_rent_including_utilities_studio_apt': None,
 'monthly_rent_including_utilities_1_b': None,
 'monthly_rent_including_utilities_2_b': None,
 'monthly_rent_including_utilities_3plus_b': None,
 'employment_status': None,
 'average_household_income_over_time': [{'key': 'Data',
   'values': [{'x': 2005, 'y': 1212181.8182},
    {'x': 2006, 'y': 676681.8182},
    {'x': 2007, 'y': 804884.25}]}],
 'household_income': None,
 'annual_individual_earnings': None,
 'sources_of_household_income____percent_of_households_receiving_income': None,
 'sources_of_household_income____average_income_per_household_by_income_source': None,
 'household_investment_income____percent_of_households_receiving_investment_income': None,
 'household_investment_income____average_income_per_household_by_income_source': None,
 'household_retirement_income____percent_of_households_receiving_retirement_incom': None,
 'household_retirement_income____average_income_per_household_by_income_source': None,
 'source_of_earnings': None,
 'means_of_transportation_to_work_for_workers_16_and_over': None,
 'travel_time_to_work_in_minutes': None,
 'educational_attainment_for_population_25_and_over': None,
 'school_enrollment_age_3_to_17': None}

In [106]:
keys = ['zipcode', 'lat', 'lng', 'population', 'median_household_income', 'median_home_value']

In [81]:
demo_list = [zipcode_demographics.get(key) for key in keys]

In [82]:
demo_list

['77598', 29.55, -95.14, 23059, 46682, 117100]

In [83]:
education_column_names = ["Less Than High School", "High School Graduate", "Associate's Degree", "Bachelor's Degree", "Master's Degree", "Professional Degree", "Doctorate Degree"]

In [84]:
education_values = [zipcode_demographics['educational_attainment_for_population_25_and_over'][0]['values'][i]['y'] for i in range(len(education_column_names))]

In [85]:
education_values

[1791, 7676, 1439, 2582, 636, 143, 82]

In [86]:
demo_list = demo_list + education_values

In [105]:
demo_list = np.array(demo_list).reshape(1,13)

In [107]:
keys = keys + education_column_names

In [108]:
final_df = pd.DataFrame(demo_list, columns = keys)

In [109]:
final_df

,zipcode,lat,lng,population,median_household_income,median_home_value,Less Than High School,High School Graduate,Associate's Degree,Bachelor's Degree,Master's Degree,Professional Degree,Doctorate Degree
0,77598,29.55,-95.14,23059,46682,117100,1791,7676,1439,2582,636,143,82