In [1]:
import pandas as pd
pd.set_option('mode.chained_assignment', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
dfw_zipcodes = pd.read_csv('./Data/DFW_zip_codes.csv', header = None, names = ['Zip_Code'])
houston_zipcodes = pd.read_csv('./Data/Greater_Houston_zip_codes.csv', header = None, names = ['Zip_Code'])

In [3]:
dfw_zipcodes.head()

             Zip_Code
0     75001 (Addison)
1       75002 (Allen)
2  75006 (Carrollton)
3  75007 (Carrollton)
4      75009 (Celina)

In [4]:
houston_zipcodes.head()

                        Zip_Code
0                77002 (Houston)
1                77003 (Houston)
2                77004 (Houston)
3  77005 (West University Place)
4                77006 (Houston)

In [5]:
def clean_zipcodes(zipcode_df):
    column_split = zipcode_df['Zip_Code'].str.split(" ", n = 1, expand = True)
    zipcode_df['Zip_Code'] = column_split[0]
    zipcode_df['Neighborhood'] = column_split[1]
    zipcode_df['Neighborhood'] = zipcode_df['Neighborhood'].str.replace('(', '')
    zipcode_df['Neighborhood'] = zipcode_df['Neighborhood'].str.replace(')', '')
    return zipcode_df

In [6]:
dallas_cleaned_zips = clean_zipcodes(dfw_zipcodes)

In [7]:
dallas_cleaned_zips.head()

  Zip_Code Neighborhood
0    75001      Addison
1    75002        Allen
2    75006   Carrollton
3    75007   Carrollton
4    75009       Celina

In [8]:
print(dallas_cleaned_zips['Neighborhood'].value_counts() > 1)

Dallas                   True
Fort Worth               True
Arlington                True
Irving                   True
Plano                    True
Denton                   True
Garland                  True
Grand Prairie            True
Weatherford              True
McKinney                 True
Lewisville               True
Mesquite                 True
Richardson               True
Carrollton               True
Waxahachie               True
Hurst                    True
Rockwall                 True
Duncanville              True
Terrell                  True
University Park          True
Allen                    True
Flower Mound             True
Granbury                 True
Bedford                  True
Cleburne                 True
Rowlett                  True
North Richland Hills     True
Frisco                   True
Greenville               True
Euless                   True
Lancaster                True
Azle                    False
Trophy Club             False
Glen Rose               False
Krum                    False
Nemo                    False
Haltom City             False
Pilot Point             False
Wilmer                  False
Little Elm              False
Avalon                  False
Aledo                   False
Rosser                  False
Celeste                 False
Seagoville              False
Midlothian              False
Balch Springs           False
Ferris                  False
DeSoto                  False
Benbrook                False
Sanger                  False
Pecan Acres             False
Maypearl                False
Southlake               False
Commerce                False
Sachse                  False
Caddo Mills             False
Alvord                  False
Grandview               False
Prosper                 False
Kennedale               False
Colleyville             False
Italy                   False
Rainbow                 False
Lavon                   False
Anna                    False
Wolfe City              False
Cresson                 False
Joshua                  False
Mansfield               False
Alvarado                False
Quinlan                 False
Keller                  False
Lantana                 False
Milford                 False
Cedar Hill              False
Kemp                    False
Decatur                 False
Celina                  False
Ponder                  False
Mabank                  False
Crowley                 False
Aubrey                  False
Josephine               False
Princeton               False
Murphy                  False
The Colony              False
Richland Hills          False
Bardwell                False
Farmersville            False
Melissa                 False
Poolville               False
Rio Vista               False
Nevada                  False
Blue Ridge              False
Kaufman                 False
Coppell                 False
Lillian                 False
Farmers Branch          False
Paradise                False
Addison                 False
Godley                  False
Watauga                 False
Fate                    False
Springtown              False
Sunnyvale               False
Hutchins                False
Burleson                False
Forreston               False
Millsap                 False
Ennis                   False
Wylie                   False
Chico                   False
Crandall                False
Lipan                   False
Keene                   False
Grapevine               False
Rhome                   False
Venus                   False
Bridgeport              False
Campbell                False
Forney                  False
Royse City              False
Lone Oak                False
Tolar                   False
Lake Dallas             False
Glenn Heights           False
Ut Sw Medical Center    False
Whitt                   False
Scurry                  False
Boyd                    False
Palmer                  False
Name: Neighborhood, dtype: bool

In [9]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Neighborhood'] == 'Dallas'])

    Zip_Code Neighborhood
89     75201       Dallas
90     75202       Dallas
91     75203       Dallas
92     75204       Dallas
94     75206       Dallas
95     75207       Dallas
96     75208       Dallas
97     75209       Dallas
98     75210       Dallas
99     75211       Dallas
100    75212       Dallas
101    75214       Dallas
102    75215       Dallas
103    75216       Dallas
104    75217       Dallas
105    75218       Dallas
106    75219       Dallas
107    75220       Dallas
108    75223       Dallas
109    75224       Dallas
111    75226       Dallas
112    75227       Dallas
113    75228       Dallas
114    75229       Dallas
115    75230       Dallas
116    75231       Dallas
117    75232       Dallas
118    75233       Dallas
120    75235       Dallas
121    75236       Dallas
122    75237       Dallas
123    75238       Dallas
124    75240       Dallas
125    75241       Dallas
126    75243       Dallas
127    75244       Dallas
128    75246       Dallas
129    75247       Dallas
130    75248       Dallas
131    75249       Dallas
132    75251       Dallas
133    75252       Dallas
134    75253       Dallas
135    75254       Dallas
136    75270       Dallas
137    75287       Dallas

In [10]:
dallas_names = ['Downtown Dallas', 'Historic District - Dallas', 'Cadillac Heights - Dallas', '(City Place, Uptown) - Dallas', 'Lower Greenville - Dallas', 'West_of_Downtown - Dallas', 'Bishop Arts - Dallas', '(Bluffview, Greenway Parks) - Dallas', 
        'South Dallas - Cotton Bowl Area', 'Cockrell Hill - Dallas', 'West Dallas', 'Northeast Dallas, Lakewood', '(Cedars, South Blvd, Park Row, Wheatley Place) - Dallas', 'Cedar Crest - Dallas', 'Pleasant Grove - Dallas', 
        '(Casa Linda, Lockwood) - Dallas', '(Turtle Creek, Oaklawn) - Dallas', 'Northwest Dallas', '(Owenwood, Dolphin Heights) - Dallas', '(Wynnewood, Elmwood, Five Mile Creek) - Dallas', 'Deep Ellum - Dallas',
        '(Riverway Estates, Bruton Terrace) - Dallas', '(Casa View, Eastwood Hills) - Dallas', 'Loryland - Dallas', 'North Dallas', 'Vickory Meadow - Dallas', 'Wolf Creek - Dallas', 'Westwood Park - Dallas', 'Love Field - Dallas',
        'West Redbird - Dallas', 'East Redbird - Dallas', '(Lake Highlands, Highland Meadows) - Dallas', 'Galleria - Dallas', 'South Dallas', '(Woodbridge, Forest Meadow, Northwood Heights) - Dallas', 'North Branch - Dallas',
        'Old East - Dallas', 'Brook Hollow - Dallas', 'Far North Dallas', 'Cedar Ridge - Dallas', 'Park Central - Dallas', 'Preston Villa - Dallas', 'Kleberg - Dallas', 'White Rock Creek - Dallas', 'Downtown - Dallas', 'Rollingwood - Dallas']

In [11]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Neighborhood'] == 'Cleburne'])

    Zip_Code Neighborhood
171    76031     Cleburne
172    76033     Cleburne

In [12]:
cleburne_names = ['East Cleburne', 'West Cleburne']

In [13]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Neighborhood'] == 'Fort Worth'])

    Zip_Code Neighborhood
185    76052   Fort Worth
209    76102   Fort Worth
210    76103   Fort Worth
211    76104   Fort Worth
212    76105   Fort Worth
213    76106   Fort Worth
214    76107   Fort Worth
215    76108   Fort Worth
216    76109   Fort Worth
217    76110   Fort Worth
218    76111   Fort Worth
219    76112   Fort Worth
220    76114   Fort Worth
221    76115   Fort Worth
222    76116   Fort Worth
225    76119   Fort Worth
226    76120   Fort Worth
227    76123   Fort Worth
229    76127   Fort Worth
230    76129   Fort Worth
231    76131   Fort Worth
232    76132   Fort Worth
233    76133   Fort Worth
234    76134   Fort Worth
235    76135   Fort Worth
236    76137   Fort Worth
237    76140   Fort Worth
239    76155   Fort Worth
240    76164   Fort Worth
241    76177   Fort Worth
242    76179   Fort Worth
255    76244   Fort Worth
256    76247   Fort Worth

In [14]:
fort_worth_names = ['Haslet - Fort Worth', '(Greenway, Upper Westside, Eastchase) - Fort Worth', 'Meadowbrook - Fort Worth', '(Hillside, Morningside) - Fort Worth', 'Burchill - Fort Worth',
                   '(Diamond Hill, Far Greater Northside Historical, North Hill Manor) - Fort Worth', '(Arlington Heights, Monticello, West Beyer) - Fort Worth', 'White Settlement - Fort Worth',
                   'TCU Area - Fort Worth', '(Shaw Clarke, Ryan Place, Fairmont-Southside Historic District) - Fort Worth', '(Sylvan Heights West, Scenic Bluff) - Fort Worth', '(Ryanwood, Handley) - Fort Worth',
                   '(Fair Oaks, Calloway Park) - Fort Worth', '(Southland Terrace, North Greenbriar) - Fort Worth', '(Western Hills, Ridglea Hills) - Fort Worth', '(Echo Heights, Glencrest) - Fort Worth', 
                   '(John T White, Cobblestone) - Fort Worth', '(Wedgewood, Stone Meadow) - Fort Worth', 'NAS-JRB - Fort Worth', 'TCU', '(North Brook, Fossil Creek Estates) - Fort Worth',
                   '(Quail Ridge Estates, Huken Bend Estates) - Fort Worth', 'Wedgewood - Fort Worth', '(Willow Creek, South Greenbriar, Highland Hills) - Fort Worth', '(Lakeland, Lake Worth, Lakeside) - Fort Worth',
                   '(Summerfields, Summerbrook) - Fort Worth', '(Quail Run, Hamlet, Garden Acres) - Fort Worth', 'DFW Airport Area - Fort Worth', '(Northside, Marine Park) - Fort Worth',
                   '(Texas Motor Speedway, Elizabethtown) - Fort Worth', '(Saginaw, Eagle Mountain) - Fort Worth', 'Keller - Fort Worth', 'Justin - Fort Worth']

In [15]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Neighborhood'] == 'Arlington'])

    Zip_Code Neighborhood
152    76001    Arlington
153    76002    Arlington
154    76006    Arlington
157    76010    Arlington
158    76011    Arlington
159    76012    Arlington
160    76013    Arlington
161    76014    Arlington
162    76015    Arlington
163    76016    Arlington
164    76017    Arlington
165    76018    Arlington

In [16]:
arlington_names = ['Southwest Arlington', 'Southeast Arlington', 'River Legacy Parks - Arlington', 'East Arlington', '(Six Flags, Stadium Areas) - Arlington', 'Northwest Arlington', 
                  'West Arlington', 'Vandergriff Park Area - Arlington', 'Parks Mall Area - Arlington', 'Lake Arlington Area - Arlington', 'Green Oaks - Arlington', 'Fish Creek - Arlington']

In [17]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Neighborhood'] == 'Irving'])

   Zip_Code Neighborhood
16    75038       Irving
17    75039       Irving
30    75060       Irving
31    75061       Irving
32    75062       Irving
33    75063       Irving

In [18]:
irving_names = ['(Cottonwood Valley, Arts District) - Irving', 'Las Colinas - Irving', '(Lamar Brown, Irving Lake, Trinity Oaks) - Irving', '(Garden Oaks, Plymoth Park) - Irving',
               '(Hillcrest Oaks, Arts District, Woodhaven) - Irving', '(Hackberry Creek, Valley Ranch) - Irving']

In [19]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Neighborhood'] == 'Denton'])

    Zip_Code Neighborhood
245    76201       Denton
246    76205       Denton
247    76207       Denton
248    76208       Denton
249    76209       Denton
250    76210       Denton

In [20]:
denton_names = ['West Denton', 'South Denton', '(North Lakes Park, Denton Airport) - Denton', 'Far East Denton', 'Northeast Denton', 'Corinth - Denton']

In [21]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Neighborhood'] == 'Plano'])

   Zip_Code Neighborhood
9     75023        Plano
10    75024        Plano
11    75025        Plano
40    75074        Plano
41    75075        Plano
50    75093        Plano

In [22]:
plano_names = ['(Quail Creek, Cross Bend) - Plano', '(Deerfield West, Normandy Estates) - Plano', '(Ridgeview, Russel Creek Park) - Plano', '(Timber Brook, Oak Point, Plano Park) - Plano',
              '(Greenway Court, Pitman Creek) - Plano', '(Willow Bend, Westworth Estates) - Plano']

In [23]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Neighborhood'] == 'Garland'])

   Zip_Code Neighborhood
18    75040      Garland
19    75041      Garland
20    75042      Garland
21    75043      Garland
22    75044      Garland

In [24]:
garland_names = ['Northeast Garland', '(Almeta, Bonite, Bella Vista) - Garland', '(Forest Crest, Park Groves, Creekside Village) - Garland', 'Bass Park Area - Garland', 
                '(Firewheel Hills, Picket Place, Camelot) - Garland']

In [25]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Neighborhood'] == 'Weatherford'])

    Zip_Code Neighborhood
203    76085  Weatherford
204    76086  Weatherford
205    76087  Weatherford
206    76088  Weatherford

In [26]:
weatherford_names = ['Far North - Weatherford', 'Southeast Weatherford', 'South and East Weatherford', 'Northwest Weatherford']

In [27]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Neighborhood'] == 'Grand Prairie'])

   Zip_Code   Neighborhood
24    75050  Grand Prairie
25    75051  Grand Prairie
26    75052  Grand Prairie
27    75054  Grand Prairie

In [28]:
grand_prairie_names = ['North Grand Prairie', 'South Grand Prairie', 'Southwest Grand Prairie', 'Estes Park Area - Grand Prairie']

In [29]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Neighborhood'] == 'Mesquite'])

   Zip_Code Neighborhood
70    75149     Mesquite
71    75150     Mesquite
86    75181     Mesquite

In [30]:
mesquite_names = ['Central to West Mesquite', 'Northwest Mesquite', 'Southeast Mesquite']

In [31]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Neighborhood'] == 'Richardson'])

   Zip_Code Neighborhood
44    75080   Richardson
45    75081   Richardson
46    75082   Richardson

In [32]:
richardson_names = ['Northwest Richardson', 'East Richardson', 'Northeast Richardson']

In [33]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Neighborhood'] == 'Lewisville'])

   Zip_Code Neighborhood
29    75057   Lewisville
35    75067   Lewisville
42    75077   Lewisville

In [34]:
lewisville_names = ['Northeast to Southeast Lewisville', 'West to Southwest Lewisville', 'Northwest Lewisville']

In [35]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Neighborhood'] == 'McKinney'])

   Zip_Code Neighborhood
37    75069     McKinney
38    75070     McKinney
39    75071     McKinney

In [36]:
mckinney_names = ['Southeast McKinney', 'Southwest McKinney', 'North McKinney']

In [37]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Neighborhood'] == 'Carrollton'])

  Zip_Code Neighborhood
2    75006   Carrollton
3    75007   Carrollton
5    75010   Carrollton

In [38]:
carrollton_names = ['Central Carrolton', 'North Carrollton', 'Far North Carrollton']

In [39]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Neighborhood'] == 'Rowlett'])

   Zip_Code Neighborhood
48    75088      Rowlett
49    75089      Rowlett

In [40]:
rowlett_names = ['South Rowlett', 'North Rowlett']

In [41]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Neighborhood'] == 'Terrell'])

   Zip_Code Neighborhood
77    75160      Terrell
78    75161      Terrell

In [42]:
terrell_names = ['West Terrell', 'East Terrell']

In [43]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Neighborhood'] == 'Lancaster'])

   Zip_Code Neighborhood
62    75134    Lancaster
68    75146    Lancaster

In [44]:
lancaster_names = ['North Lancaster', 'South Lancaster']

In [45]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Neighborhood'] == 'Duncanville'])

   Zip_Code Neighborhood
57    75116  Duncanville
64    75137  Duncanville

In [46]:
duncanville_names = ['North Duncanville', 'South Duncanville']

In [47]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Neighborhood'] == 'North Richland Hills'])

    Zip_Code          Neighborhood
243    76180  North Richland Hills
244    76182  North Richland Hills

In [48]:
north_richland_hills_names = ['North Richland Hills - Fort Worth', 'Smithfield - Fort Worth']

In [49]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Neighborhood'] == 'Allen'])

  Zip_Code Neighborhood
1    75002        Allen
6    75013        Allen

In [50]:
allen_names = ['West Allen', 'East Allen']

In [51]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Neighborhood'] == 'Bedford'])

    Zip_Code Neighborhood
167    76021      Bedford
168    76022      Bedford

In [52]:
bedford_names = ['North Bedford', 'South Bedford']

In [53]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Neighborhood'] == 'Waxahachie'])

   Zip_Code Neighborhood
80    75165   Waxahachie
82    75167   Waxahachie

In [54]:
waxahachie_names = ['East Waxahachie', 'West Waxahachie']

In [55]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Neighborhood'] == 'Granbury'])

    Zip_Code Neighborhood
181    76048     Granbury
182    76049     Granbury

In [56]:
granbury_names = ['West Granbury', 'East Granbury']

In [57]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Neighborhood'] == 'Greenville'])

    Zip_Code Neighborhood
139    75401   Greenville
140    75402   Greenville

In [58]:
greenville_names = ['North Greenville', 'South Greenville']

In [59]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Neighborhood'] == 'Hurst'])

    Zip_Code Neighborhood
186    76053        Hurst
187    76054        Hurst

In [60]:
hurst_names = ['South Hurst', 'North Hurst']

In [61]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Neighborhood'] == 'Flower Mound'])

   Zip_Code  Neighborhood
8     75022  Flower Mound
12    75028  Flower Mound

In [62]:
flower_mound_names = ['West Flower Mound', 'East Flower Mound']

In [63]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Neighborhood'] == 'Frisco'])

   Zip_Code Neighborhood
14    75034       Frisco
15    75035       Frisco

In [64]:
frisco_names = ['West Frisco', 'East Frisco']

In [65]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Neighborhood'] == 'University Park'])

    Zip_Code     Neighborhood
93     75205  University Park
110    75225  University Park

In [66]:
university_park_names = ['(Park Cities, Highland Park) - Dallas', 'University Park']

In [67]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Neighborhood'] == 'Rockwall'])

   Zip_Code Neighborhood
13    75032     Rockwall
47    75087     Rockwall

In [68]:
rockwall_names = ['South Rockwall', 'North Rockwall' ]

In [69]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Neighborhood'] == 'Euless'])

    Zip_Code Neighborhood
176    76039       Euless
177    76040       Euless

In [70]:
euless_names = ['North Euless', 'South Euless']

In [71]:
names_lists = [dallas_names, cleburne_names, fort_worth_names, arlington_names, irving_names, denton_names, plano_names, garland_names, weatherford_names, grand_prairie_names,
              mesquite_names, richardson_names, lewisville_names, mckinney_names, carrollton_names, rowlett_names, terrell_names, lancaster_names, duncanville_names,
              north_richland_hills_names, allen_names, bedford_names, waxahachie_names, granbury_names, greenville_names, hurst_names, flower_mound_names, frisco_names,
              university_park_names, rockwall_names, euless_names]

cities = ['Dallas', 'Cleburne', 'Fort Worth', 'Arlington', 'Irving', 'Denton', 'Plano', 'Garland', 'Weatherford', 'Grand Prairie', 'Mesquite', 'Richardson', 'Lewisville',
         'McKinney', 'Carrollton', 'Rowlett', 'Terrell', 'Lancaster', 'Duncanville', 'North Richland Hills', 'Allen', 'Bedford', 'Waxahachie', 'Granbury', 'Greenville',
         'Hurst', 'Flower Mound', 'Frisco', 'University Park', 'Rockwall', 'Euless']

In [72]:
def name_zipcodes(zipcode_df, cities, names_list):
    for city, names in zip(cities, names_lists):
        no_name = zipcode_df[zipcode_df['Neighborhood'] == city]
        no_name['Neighborhood'] = names
        zipcode_df.update(no_name)
    return zipcode_df

In [73]:
dfw_named_zips = name_zipcodes(dallas_cleaned_zips, cities, names_lists)

In [74]:
dfw_nonresidential_zips = ['75390', '75270']
dfw_named_zips = dfw_named_zips[~dfw_named_zips['Zip_Code'].isin(dfw_nonresidential_zips)]

In [75]:
print(dfw_named_zips['Neighborhood'].value_counts() > 1)

Wedgewood - Fort Worth                                                             False
North Bedford                                                                      False
Springtown                                                                         False
Tolar                                                                              False
Godley                                                                             False
Addison                                                                            False
Paradise                                                                           False
Farmers Branch                                                                     False
Coppell                                                                            False
Kaufman                                                                            False
North McKinney                                                                     False
(North Brook, Fossil Creek Estates) - Fort Worth                                   False
South Grand Prairie                                                                False
Farmersville                                                                       False
TCU Area - Fort Worth                                                              False
Bardwell                                                                           False
The Colony                                                                         False
Wolf Creek - Dallas                                                                False
East Waxahachie                                                                    False
Whitt                                                                              False
Josephine                                                                          False
West Granbury                                                                      False
(Quail Creek, Cross Bend) - Plano                                                  False
(Park Cities, Highland Park) - Dallas                                              False
Hutchins                                                                           False
Boyd                                                                               False
North Richland Hills - Fort Worth                                                  False
West Denton                                                                        False
Forreston                                                                          False
(Firewheel Hills, Picket Place, Camelot) - Garland                                 False
Princeton                                                                          False
Lone Oak                                                                           False
River Legacy Parks - Arlington                                                     False
Lake Arlington Area - Arlington                                                    False
North Dallas                                                                       False
(Lake Highlands, Highland Meadows) - Dallas                                        False
North Euless                                                                       False
Lantana                                                                            False
Cedar Crest - Dallas                                                               False
East Flower Mound                                                                  False
Lavon                                                                              False
TCU                                                                                False
Wolfe City                                                                         False
Park Central - Dallas                                                              False
West Waxahachie                                                                    False
Aledo                                                                              False
Maypearl                                                                           False
Cresson                                                                            False
West Allen                                                                         False
(Shaw Clarke, Ryan Place, Fairmont-Southside Historic District) - Fort Worth       False
Glenn Heights                                                                      False
West Arlington                                                                     False
Preston Villa - Dallas                                                             False
Crowley                                                                            False
Wylie                                                                              False
North Carrollton                                                                   False
Bridgeport                                                                         False
Vandergriff Park Area - Arlington                                                  False
Royse City                                                                         False
Scurry                                                                             False
Kleberg - Dallas                                                                   False
(Owenwood, Dolphin Heights) - Dallas                                               False
Love Field - Dallas                                                                False
(Six Flags, Stadium Areas) - Arlington                                             False
South Denton                                                                       False
Burleson                                                                           False
Far North Dallas                                                                   False
Lower Greenville - Dallas                                                          False
Balch Springs                                                                      False
(Garden Oaks, Plymoth Park) - Irving                                               False
Parks Mall Area - Arlington                                                        False
Cadillac Heights - Dallas                                                          False
Downtown Dallas                                                                    False
Far North - Weatherford                                                            False
Northeast Richardson                                                               False
Decatur                                                                            False
Sachse                                                                             False
Commerce                                                                           False
Northeast Dallas, Lakewood                                                         False
Cedar Hill                                                                         False
(Greenway Court, Pitman Creek) - Plano                                             False
Milford                                                                            False
White Rock Creek - Dallas                                                          False
Westwood Park - Dallas                                                             False
Quinlan                                                                            False
Cedar Ridge - Dallas                                                               False
Alvarado                                                                           False
North Duncanville                                                                  False
West Dallas                                                                        False
Bass Park Area - Garland                                                           False
Green Oaks - Arlington                                                             False
DFW Airport Area - Fort Worth                                                      False
South Rowlett                                                                      False
Haltom City                                                                        False
(Greenway, Upper Westside, Eastchase) - Fort Worth                                 False
(Western Hills, Ridglea Hills) - Fort Worth                                        False
Smithfield - Fort Worth                                                            False
North Rockwall                                                                     False
Central to West Mesquite                                                           False
South Greenville                                                                   False
East Cleburne                                                                      False
Watauga                                                                            False
Wilmer                                                                             False
(Lamar Brown, Irving Lake, Trinity Oaks) - Irving                                  False
Northwest Richardson                                                               False
(Echo Heights, Glencrest) - Fort Worth                                             False
North Grand Prairie                                                                False
(Quail Ridge Estates, Huken Bend Estates) - Fort Worth                             False
Mansfield                                                                          False
South and East Weatherford                                                         False
Crandall                                                                           False
Galleria - Dallas                                                                  False
Lake Dallas                                                                        False
Ennis                                                                              False
West to Southwest Lewisville                                                       False
Mabank                                                                             False
West Redbird - Dallas                                                              False
Northeast to Southeast Lewisville                                                  False
NAS-JRB - Fort Worth                                                               False
(Wynnewood, Elmwood, Five Mile Creek) - Dallas                                     False
East Granbury                                                                      False
Southeast McKinney                                                                 False
Chico                                                                              False
(Arlington Heights, Monticello, West Beyer) - Fort Worth                           False
(Fair Oaks, Calloway Park) - Fort Worth                                            False
Benbrook                                                                           False
Colleyville                                                                        False
Alvord                                                                             False
(Sylvan Heights West, Scenic Bluff) - Fort Worth                                   False
Midlothian                                                                         False
(Willow Bend, Westworth Estates) - Plano                                           False
(John T White, Cobblestone) - Fort Worth                                           False
Celeste                                                                            False
White Settlement - Fort Worth                                                      False
(City Place, Uptown) - Dallas                                                      False
Central Carrolton                                                                  False
Kennedale                                                                          False
(Summerfields, Summerbrook) - Fort Worth                                           False
Lillian                                                                            False
Caddo Mills                                                                        False
Ferris                                                                             False
North Rowlett                                                                      False
Forney                                                                             False
(Diamond Hill, Far Greater Northside Historical, North Hill Manor) - Fort Worth    False
Poolville                                                                          False
(Willow Creek, South Greenbriar, Highland Hills) - Fort Worth                      False
Northeast Denton                                                                   False
South Dallas - Cotton Bowl Area                                                    False
South Duncanville                                                                  False
Richland Hills                                                                     False
(Turtle Creek, Oaklawn) - Dallas                                                   False
Sunnyvale                                                                          False
Keller                                                                             False
Melissa                                                                            False
Campbell                                                                           False
Southwest Grand Prairie                                                            False
Justin - Fort Worth                                                                False
(Woodbridge, Forest Meadow, Northwood Heights) - Dallas                            False
Bishop Arts - Dallas                                                               False
(Wedgewood, Stone Meadow) - Fort Worth                                             False
South Euless                                                                       False
West Frisco                                                                        False
(Ridgeview, Russel Creek Park) - Plano                                             False
East Frisco                                                                        False
(Hillside, Morningside) - Fort Worth                                               False
Estes Park Area - Grand Prairie                                                    False
Las Colinas - Irving                                                               False
Northwest Dallas                                                                   False
Northwest Lewisville                                                               False
Far East Denton                                                                    False
Rollingwood - Dallas                                                               False
Italy                                                                              False
Joshua                                                                             False
Palmer                                                                             False
East Allen                                                                         False
(Hillcrest Oaks, Arts District, Woodhaven) - Irving                                False
Keller - Fort Worth                                                                False
Rainbow                                                                            False
Historic District - Dallas                                                         False
Northwest Arlington                                                                False
Grandview                                                                          False
West Terrell                                                                       False
(Almeta, Bonite, Bella Vista) - Garland                                            False
(Southland Terrace, North Greenbriar) - Fort Worth                                 False
Rio Vista                                                                          False
East Terrell                                                                       False
Vickory Meadow - Dallas                                                            False
North Greenville                                                                   False
Corinth - Denton                                                                   False
(North Lakes Park, Denton Airport) - Denton                                        False
West_of_Downtown - Dallas                                                          False
(Lakeland, Lake Worth, Lakeside) - Fort Worth                                      False
Azle                                                                               False
Grapevine                                                                          False
Avalon                                                                             False
Glen Rose                                                                          False
(Ryanwood, Handley) - Fort Worth                                                   False
Blue Ridge                                                                         False
East Arlington                                                                     False
(Timber Brook, Oak Point, Plano Park) - Plano                                      False
West Cleburne                                                                      False
(Casa Linda, Lockwood) - Dallas                                                    False
Southeast Arlington                                                                False
Fate                                                                               False
Venus                                                                              False
Aubrey                                                                             False
Pilot Point                                                                        False
Nemo                                                                               False
Krum                                                                               False
Northeast Garland                                                                  False
Burchill - Fort Worth                                                              False
Southlake                                                                          False
(Texas Motor Speedway, Elizabethtown) - Fort Worth                                 False
(Quail Run, Hamlet, Garden Acres) - Fort Worth                                     False
Celina                                                                             False
(Riverway Estates, Bruton Terrace) - Dallas                                        False
Keene                                                                              False
Kemp                                                                               False
Loryland - Dallas                                                                  False
(Deerfield West, Normandy Estates) - Plano                                         False
South Rockwall                                                                     False
Rhome                                                                              False
Fish Creek - Arlington                                                             False
Anna                                                                               False

In [76]:
dfw_named_zips.to_csv('./Data/dfw_cleaned_zipcodes.csv', index = False)

In [77]:
houston_cleaned_zips = clean_zipcodes(houston_zipcodes)

In [78]:
houston_cleaned_zips.head()

  Zip_Code           Neighborhood
0    77002                Houston
1    77003                Houston
2    77004                Houston
3    77005  West University Place
4    77006                Houston

In [79]:
print(houston_cleaned_zips['Neighborhood'].value_counts() > 1)

Houston                   True
Conroe                    True
Pasadena                  True
Spring                    True
Katy                      True
Richmond                  True
The Woodlands             True
Sugar Land                True
Baytown                   True
Galveston                 True
Bolivar Peninsula         True
Tomball                   True
Santa Fe                  True
Montgomery                True
Magnolia                  True
Missouri City             True
Willis                    True
Cypress                   True
Cleveland                 True
Pearland                  True
League City               True
Texas City                True
Humble                    True
Dickinson                False
Fresno                   False
Stafford                 False
Highlands                False
Mont Belvieu             False
Hockley                  False
Dayton                   False
West Columbia            False
Kendleton                False
Splendora                False
Prairie View             False
Cat Spring               False
Damon                    False
Romayor                  False
Industry                 False
Alvin                    False
Brookshire               False
Channelview              False
Beasley                  False
Hull                     False
Bellville                False
South Houston            False
Danbury                  False
Needville                False
Hardin                   False
Mission Bend             False
Crosby                   False
Weston Lakes             False
Rosharon                 False
Sweeny                   False
Guy                      False
Deer Park                False
Freeport                 False
Pattison                 False
Angleton                 False
Wallis                   False
Manvel                   False
Rye                      False
Bleiblerville            False
Brazoria                 False
Orchard                  False
Hitchcock                False
Hankamer                 False
Galena Park              False
Lake Jackson             False
New Caney                False
Seabrook                 False
Waller                   False
Devers                   False
Cloverleaf               False
Liberty                  False
Thompsons                False
New Ulm                  False
Stowell                  False
West University Place    False
Pinehurst                False
Friendswood              False
Winnie                   False
Porter                   False
La Marque                False
Hempstead                False
Sealy                    False
Daisetta                 False
Clute                    False
Wallisville              False
Rosenberg                False
Liverpool                False
La Porte                 False
Simonton                 False
Bellaire                 False
Jacinto City             False
San Felipe               False
Atascocita               False
Anahuac                  False
Bacliff                  False
Huffman                  False
Name: Neighborhood, dtype: bool

In [80]:
houston_cleaned_zips[houston_cleaned_zips['Neighborhood'] == 'Houston']

    Zip_Code Neighborhood
0      77002      Houston
1      77003      Houston
2      77004      Houston
4      77006      Houston
5      77007      Houston
6      77008      Houston
7      77009      Houston
8      77010      Houston
9      77011      Houston
10     77012      Houston
11     77013      Houston
12     77014      Houston
14     77016      Houston
15     77017      Houston
16     77018      Houston
17     77019      Houston
18     77020      Houston
19     77021      Houston
20     77022      Houston
21     77023      Houston
22     77024      Houston
23     77025      Houston
24     77026      Houston
25     77027      Houston
26     77028      Houston
28     77030      Houston
29     77031      Houston
30     77032      Houston
31     77033      Houston
32     77034      Houston
33     77035      Houston
34     77036      Houston
35     77037      Houston
36     77038      Houston
37     77039      Houston
38     77040      Houston
39     77041      Houston
40     77042      Houston
41     77043      Houston
42     77044      Houston
43     77045      Houston
44     77046      Houston
45     77047      Houston
46     77048      Houston
47     77049      Houston
48     77050      Houston
49     77051      Houston
50     77053      Houston
51     77054      Houston
52     77055      Houston
53     77056      Houston
54     77057      Houston
55     77058      Houston
56     77059      Houston
57     77060      Houston
58     77061      Houston
59     77062      Houston
60     77063      Houston
61     77064      Houston
62     77065      Houston
63     77066      Houston
64     77067      Houston
65     77068      Houston
66     77069      Houston
67     77070      Houston
68     77071      Houston
69     77072      Houston
70     77073      Houston
71     77074      Houston
72     77075      Houston
73     77076      Houston
74     77077      Houston
75     77078      Houston
76     77079      Houston
77     77080      Houston
78     77081      Houston
79     77082      Houston
81     77084      Houston
82     77085      Houston
83     77086      Houston
84     77087      Houston
85     77088      Houston
86     77089      Houston
87     77090      Houston
88     77091      Houston
89     77092      Houston
90     77093      Houston
91     77094      Houston
92     77095      Houston
93     77096      Houston
94     77098      Houston
95     77099      Houston
96     77201      Houston
108    77339      Houston
109    77345      Houston
226    77598      Houston

In [81]:
houston_names = ['Downtown, Midtown', 'East Downtown', 'South Central, Greater Third Ward', 'Montrose, Hyde Park', 'Rice Military, Memorial Park', 'Shady Acres, Greater Heights, Lazybrook',
            'Northside Village, Woodland Heights', 'George R Brown', 'Greater East End, Second ward, Magnolia Park', 'Harrisburg, Manchester', 'North Shore', 'Silverglen, Sablechase',
            'East Little York, Homestead', 'Meadowbrook, Allendale', 'Central Northwest', 'River Oaks, Fourth Ward', 'Greater Fifth Ward, Denver Harbor, Port Houston', 'Greater OST',
            'Independence Heights', 'Greater Eastwood, Lawndale, Wayside, Gulfgate, Pine Valley', 'Memorial Villages, Briargrove Park', 'Braeswood Place, Willowbend Area', 'Kashmere Gardens',
            'River Oaks, Bellaire Junction', 'Trinity, Houston Gardens, Settegast', 'Texas Medical Center', 'Brays Oaks, Braeburn Gardens', 'Greenbriar Colony, Aldine Estates', 
            'Southeast Houston, Southpark', 'Edgebrook', 'Westbury, Southeast Houston', 'Chinatown, Sharpstown', 'Aldine', 'Fallbrook, Forestwood', 'High Meadows, Fairgreen', 
            'Fairbanks, Northwest Crossing', 'Lakes on Eldridge, Jersey Acres', 'Briarforest, Westchase, Walnut Bend', 'Spring Branch North, Spring Branch West', 'Summerwood',
            'Central Southwest', 'Greenway, Upper Kirby', 'Cloverland, South Acres, Crestmont Park', 'Minnetex, South Acres, Crestmont Park', 'Houston Farms, Sheldon Park',
            'Shadowlake Estates, Forest Acres', 'Sunnyside, Brookhaven', 'Kellys Corner, Quail Bridge, Ridgegate', 'Astrodome, South Main', 'Spring Branch East', 'West Oaks, Uptown',
            'Tanglewood, San Felipe', 'Clear Lake Area, Nassau Bay', 'Clear Lake Area, Pinebrook, Brookwood', 'Greenspoint', 'Hobby, Glenbrook Valley', 'Clear Lake Area, Bay Knoll',
            'Mid-west', 'Harvest Bend, North Houston', 'Wortham Park, Tower Oaks', 'Champions Point, Glennwood Forest, Kleinbrook', 'Heritage Village, Green Oak Park', 'Meyer Park, Collins Park',
            'Champions', 'Willowbrook', 'Brays Oaks, Fondren Park', 'Alief', 'Northridge Park, Remington Ranch', 'Braeburn, Braes Timbers, Robindell', 'Greater Hobby Area', 'Northside, Northline',
            'Briar Forest, Eldridge', 'East Houston', 'Energy Corridor', 'Spring Branch Central', 'Gulfton', 'Royal Oaks, Westchase', 'Addicks, Park Ten', 'Fondren Gardens, Corithian Pointe, Winchester',
            'Northwest Park', 'Golfcrest, Bellfort, Reveille', 'Inwood, Acres Homes', 'Southbelt, Ellington', 'Cypress Station', 'Greater Inwood', 'Forest Lake, Langwood', 'Eastex, Jenson',
            'Windsor Park, Green Trails', 'Copperfield, Canyon Lakes', 'Meyerland', 'Boulevard Oaks, Crowne Plaza', 'Huntington Village, Alief', 'Post Houston', ' North Humble', 'Kingwood',
            'Webster']

In [82]:
houston_cleaned_zips[houston_cleaned_zips['Neighborhood'] == 'Conroe']

    Zip_Code Neighborhood
97     77301       Conroe
98     77302       Conroe
99     77303       Conroe
100    77304       Conroe
101    77306       Conroe
128    77384       Conroe
129    77385       Conroe

In [83]:
conroe_names = ['East Conroe', 'Southeast Conroe', 'Northeast Conroe', 'West Conroe', 'Far East Conroe', 'Southwest Conroe', 'East Woodlands - Conroe']

In [84]:
houston_cleaned_zips[houston_cleaned_zips['Neighborhood'] == 'Pasadena']

    Zip_Code Neighborhood
173    77502     Pasadena
174    77503     Pasadena
175    77504     Pasadena
176    77505     Pasadena
177    77506     Pasadena
178    77507     Pasadena

In [85]:
pasadena_names = ['Central Pasadena', 'Northwest Pasadena', 'South Pasadena', 'Southeast Pasadena', 'North Pasadena', 'Industrial - Pasadena']

In [86]:
houston_cleaned_zips[houston_cleaned_zips['Neighborhood'] == 'Spring']

    Zip_Code Neighborhood
120    77373       Spring
124    77379       Spring
130    77386       Spring
131    77388       Spring
132    77389       Spring

In [87]:
spring_names = ['East Spring', 'Klein Area - Spring', 'Northeast Spring', 'Southwest Spring', 'Northwest Spring']

In [88]:
houston_cleaned_zips[houston_cleaned_zips['Neighborhood'] == 'Katy']

    Zip_Code Neighborhood
149    77449         Katy
150    77450         Katy
170    77493         Katy
171    77494         Katy

In [89]:
katy_names = ['Northeast Katy', 'Southeast Katy', 'Noorthwest Katy', 'Southwest Katy']

In [90]:
houston_cleaned_zips[houston_cleaned_zips['Neighborhood'] == 'Sugar Land']

    Zip_Code Neighborhood
162    77478   Sugar Land
163    77479   Sugar Land
172    77498   Sugar Land

In [91]:
sugar_land_names = ['Northeast Sugar Land', 'Southwest Sugar Land', 'Northwest Sugarland']

In [92]:
houston_cleaned_zips[houston_cleaned_zips['Neighborhood'] == 'Richmond']

    Zip_Code Neighborhood
135    77406     Richmond
136    77407     Richmond
156    77469     Richmond

In [93]:
richmond_names = ['Central Richmond', 'Northeast Richmond', 'South Richmond']

In [94]:
houston_cleaned_zips[houston_cleaned_zips['Neighborhood'] == 'Bolivar Peninsula']

    Zip_Code       Neighborhood
227    77617  Bolivar Peninsula
228    77623  Bolivar Peninsula
229    77650  Bolivar Peninsula

In [95]:
bolivar_names = ['Central Bolivar Peninsula', 'East Bolivar Peninsula', 'West Bolivar Peninsula' ]

In [96]:
houston_cleaned_zips[houston_cleaned_zips['Neighborhood'] == 'The Woodlands']

    Zip_Code   Neighborhood
125    77380  The Woodlands
126    77381  The Woodlands
127    77382  The Woodlands

In [97]:
woodlands_names = ['South Woodlands', 'North Woodlands', 'Spring Area - The Woodlands']

In [98]:
houston_cleaned_zips[houston_cleaned_zips['Neighborhood'] == 'Baytown']

    Zip_Code Neighborhood
185    77520      Baytown
186    77521      Baytown
187    77523      Baytown

In [99]:
baytown_names = ['Central Baytown', 'North Baytown', 'East Baytown']

In [100]:
houston_cleaned_zips[houston_cleaned_zips['Neighborhood'] == 'Galveston']

    Zip_Code Neighborhood
201    77550    Galveston
202    77551    Galveston
203    77554    Galveston

In [101]:
galveston_names = ['East End - Galveston', 'Sea Wall - Galveston', 'West End - Galveston']

In [102]:
houston_cleaned_zips[houston_cleaned_zips['Neighborhood'] == 'Cleveland']

    Zip_Code Neighborhood
104    77327    Cleveland
105    77328    Cleveland

In [103]:
cleveland_names = ['East Cleveland', 'West Cleveland']

In [104]:
houston_cleaned_zips[houston_cleaned_zips['Neighborhood'] == 'Texas City']

    Zip_Code Neighborhood
223    77590   Texas City
224    77591   Texas City

In [105]:
texas_city_names = ['West Texas City', 'East Texas City']

In [106]:
houston_cleaned_zips[houston_cleaned_zips['Neighborhood'] == 'Pearland']

    Zip_Code Neighborhood
218    77581     Pearland
220    77584     Pearland

In [107]:
pearland_names = ['East Pearland', 'West Pearland']

In [108]:
houston_cleaned_zips[houston_cleaned_zips['Neighborhood'] == 'Magnolia']

    Zip_Code Neighborhood
111    77354     Magnolia
112    77355     Magnolia

In [109]:
magnolia_names = ['East Magnolia', 'West Magnolia']

In [110]:
houston_cleaned_zips[houston_cleaned_zips['Neighborhood'] == 'Santa Fe']

    Zip_Code Neighborhood
179    77510     Santa Fe
183    77517     Santa Fe

In [111]:
santa_fe_names = ['East Santa Fe', 'West Santa Fe']

In [112]:
houston_cleaned_zips[houston_cleaned_zips['Neighborhood'] == 'Missouri City']

    Zip_Code   Neighborhood
152    77459  Missouri City
169    77489  Missouri City

In [113]:
missouri_city_names = ['Sienna Plantation - Missouri City', 'Missouri City']

In [114]:
houston_cleaned_zips[houston_cleaned_zips['Neighborhood'] == 'Tomball']

    Zip_Code Neighborhood
121    77375      Tomball
122    77377      Tomball

In [115]:
tomball_names = ['East Tomball', 'West Tomball']

In [116]:
houston_cleaned_zips[houston_cleaned_zips['Neighborhood'] == 'Montgomery']

    Zip_Code Neighborhood
102    77316   Montgomery
113    77356   Montgomery

In [117]:
montgomery_names = ['South Montgomery', 'North Montgomery']

In [118]:
houston_cleaned_zips[houston_cleaned_zips['Neighborhood'] == 'Willis']

    Zip_Code Neighborhood
103    77318       Willis
123    77378       Willis

In [119]:
willis_names = ['West Willis', 'East Willis']

In [120]:
houston_cleaned_zips[houston_cleaned_zips['Neighborhood'] == 'Cypress']

    Zip_Code Neighborhood
141    77429      Cypress
143    77433      Cypress

In [121]:
cypress_names = ['East Cypress', 'West Cypress']

In [122]:
houston_cleaned_zips[houston_cleaned_zips['Neighborhood'] == 'League City']

    Zip_Code Neighborhood
209    77565  League City
213    77573  League City

In [123]:
league_city_names = ['Kemah', 'League City']

In [124]:
houston_cleaned_zips[houston_cleaned_zips['Neighborhood'] == 'Humble']

    Zip_Code Neighborhood
107    77338       Humble
133    77396       Humble

In [125]:
humble_names = ['North Humble', 'South Humble']

In [126]:
names_lists = [houston_names, conroe_names, pasadena_names, spring_names, katy_names, sugar_land_names, richmond_names, bolivar_names, woodlands_names, baytown_names,
              galveston_names, cleveland_names, texas_city_names, pearland_names, magnolia_names, santa_fe_names, missouri_city_names, tomball_names, montgomery_names,
              willis_names, cypress_names, league_city_names, humble_names]

cities = ['Houston', 'Conroe', 'Pasadena', 'Spring', 'Katy', 'Sugar Land', 'Richmond', 'Bolivar Peninsula', 'The Woodlands', 'Baytown', 'Galveston', 'Cleveland', 'Texas City',
         'Pearland', 'Magnolia', 'Santa Fe', 'Missouri City', 'Tomball', 'Montgomery', 'Willis', 'Cypress', 'League City', 'Humble']

In [127]:
houston_named_zips = name_zipcodes(houston_cleaned_zips, cities, names_lists)

In [128]:
houston_nonresidential_zips = ['77201', '77507']
houston_named_zips = houston_named_zips[~houston_named_zips['Zip_Code'].isin(houston_nonresidential_zips)]

In [129]:
print(houston_named_zips['Neighborhood'].value_counts() > 1)

East Santa Fe                                                 False
Needville                                                     False
Hardin                                                        False
Southeast Houston, Southpark                                  False
Northeast Conroe                                              False
West Texas City                                               False
Northeast Spring                                              False
Stafford                                                      False
Greater OST                                                   False
Missouri City                                                 False
Weston Lakes                                                  False
East Houston                                                  False
Mission Bend                                                  False
Greater Fifth Ward, Denver Harbor, Port Houston               False
Bellville                                                     False
Central Baytown                                               False
Alief                                                         False
North Baytown                                                 False
Liberty                                                       False
Hull                                                          False
Gulfton                                                       False
Prairie View                                                  False
Eastex, Jenson                                                False
Huffman                                                       False
South Montgomery                                              False
La Marque                                                     False
Central Bolivar Peninsula                                     False
Devers                                                        False
Freeport                                                      False
Pattison                                                      False
Greenway, Upper Kirby                                         False
Kendleton                                                     False
Clear Lake Area, Pinebrook, Brookwood                         False
Spring Area - The Woodlands                                   False
Seabrook                                                      False
New Caney                                                     False
Industry                                                      False
Willowbrook                                                   False
Brazoria                                                      False
Bleiblerville                                                 False
Wallis                                                        False
West End - Galveston                                          False
Manvel                                                        False
Cloverland, South Acres, Crestmont Park                       False
Kingwood                                                      False
Central Southwest                                             False
West University Place                                         False
Liverpool                                                     False
Hitchcock                                                     False
Klein Area - Spring                                           False
Fallbrook, Forestwood                                         False
Highlands                                                     False
Braeswood Place, Willowbend Area                              False
East Tomball                                                  False
Rosenberg                                                     False
Silverglen, Sablechase                                        False
Briarforest, Westchase, Walnut Bend                           False
Hockley                                                       False
Jacinto City                                                  False
Windsor Park, Green Trails                                    False
Lake Jackson                                                  False
West Cypress                                                  False
Central Pasadena                                              False
Pinehurst                                                     False
Chinatown, Sharpstown                                         False
Splendora                                                     False
East Texas City                                               False
Deer Park                                                     False
Tanglewood, San Felipe                                        False
East Spring                                                   False
Champions Point, Glennwood Forest, Kleinbrook                 False
North Pasadena                                                False
Greater Eastwood, Lawndale, Wayside, Gulfgate, Pine Valley    False
East Magnolia                                                 False
South Central, Greater Third Ward                             False
Greater Hobby Area                                            False
Northeast Katy                                                False
Spring Branch Central                                         False
West Conroe                                                   False
Southwest Katy                                                False
South Richmond                                                False
Beasley                                                       False
West Bolivar Peninsula                                        False
Brookshire                                                    False
Spring Branch North, Spring Branch West                       False
Dickinson                                                     False
Harvest Bend, North Houston                                   False
 North Humble                                                 False
Guy                                                           False
Central Richmond                                              False
Meyerland                                                     False
Edgebrook                                                     False
Harrisburg, Manchester                                        False
Northwest Park                                                False
East Downtown                                                 False
Montrose, Hyde Park                                           False
West Columbia                                                 False
Daisetta                                                      False
Stowell                                                       False
Minnetex, South Acres, Crestmont Park                         False
Anahuac                                                       False
Atascocita                                                    False
High Meadows, Fairgreen                                       False
Shady Acres, Greater Heights, Lazybrook                       False
Northwest Spring                                              False
Greater East End, Second ward, Magnolia Park                  False
Galena Park                                                   False
Westbury, Southeast Houston                                   False
Spring Branch East                                            False
Webster                                                       False
East Willis                                                   False
Far East Conroe                                               False
Hempstead                                                     False
Wortham Park, Tower Oaks                                      False
East Cypress                                                  False
Boulevard Oaks, Crowne Plaza                                  False
East Bolivar Peninsula                                        False
Mid-west                                                      False
Northwest Sugarland                                           False
Summerwood                                                    False
Copperfield, Canyon Lakes                                     False
Northwest Pasadena                                            False
South Humble                                                  False
Brays Oaks, Fondren Park                                      False
River Oaks, Fourth Ward                                       False
Cypress Station                                               False
Dayton                                                        False
Southeast Katy                                                False
East Cleveland                                                False
Lakes on Eldridge, Jersey Acres                               False
West Pearland                                                 False
Greenspoint                                                   False
Southwest Spring                                              False
North Humble                                                  False
Northside, Northline                                          False
Danbury                                                       False
South Houston                                                 False
Briar Forest, Eldridge                                        False
Astrodome, South Main                                         False
West Magnolia                                                 False
River Oaks, Bellaire Junction                                 False
Huntington Village, Alief                                     False
Brays Oaks, Braeburn Gardens                                  False
Meyer Park, Collins Park                                      False
Crosby                                                        False
Kellys Corner, Quail Bridge, Ridgegate                        False
Porter                                                        False
Sealy                                                         False
Central Northwest                                             False
Greenbriar Colony, Aldine Estates                             False
New Ulm                                                       False
Clear Lake Area, Nassau Bay                                   False
Northridge Park, Remington Ranch                              False
Meadowbrook, Allendale                                        False
Texas Medical Center                                          False
Forest Lake, Langwood                                         False
League City                                                   False
George R Brown                                                False
Champions                                                     False
Golfcrest, Bellfort, Reveille                                 False
Greater Inwood                                                False
Southbelt, Ellington                                          False
Royal Oaks, Westchase                                         False
La Porte                                                      False
Angleton                                                      False
West Willis                                                   False
West Cleveland                                                False
East Conroe                                                   False
Mont Belvieu                                                  False
San Felipe                                                    False
Southeast Pasadena                                            False
Independence Heights                                          False
Bellaire                                                      False
North Montgomery                                              False
Sunnyside, Brookhaven                                         False
Energy Corridor                                               False
Alvin                                                         False
Southwest Sugar Land                                          False
Inwood, Acres Homes                                           False
North Woodlands                                               False
Southeast Conroe                                              False
Heritage Village, Green Oak Park                              False
Sienna Plantation - Missouri City                             False
Southwest Conroe                                              False
Fondren Gardens, Corithian Pointe, Winchester                 False
Fresno                                                        False
Kashmere Gardens                                              False
Romayor                                                       False
Sweeny                                                        False
South Pasadena                                                False
Memorial Villages, Briargrove Park                            False
East Woodlands - Conroe                                       False
Cloverleaf                                                    False
Trinity, Houston Gardens, Settegast                           False
Addicks, Park Ten                                             False
East Pearland                                                 False
Rosharon                                                      False
Noorthwest Katy                                               False
Cat Spring                                                    False
Houston Farms, Sheldon Park                                   False
Waller                                                        False
Rye                                                           False
Shadowlake Estates, Forest Acres                              False
Thompsons                                                     False
Northside Village, Woodland Heights                           False
Northeast Sugar Land                                          False
West Oaks, Uptown                                             False
Clute                                                         False
West Tomball                                                  False
East Little York, Homestead                                   False
Downtown, Midtown                                             False
Northeast Richmond                                            False
Hobby, Glenbrook Valley                                       False
Friendswood                                                   False
East End - Galveston                                          False
East Baytown                                                  False
Clear Lake Area, Bay Knoll                                    False
Braeburn, Braes Timbers, Robindell                            False
West Santa Fe                                                 False
Wallisville                                                   False
North Shore                                                   False
Aldine                                                        False
Simonton                                                      False
Rice Military, Memorial Park                                  False
Bacliff                                                       False
Hankamer                                                      False
Damon                                                         False
Sea Wall - Galveston                                          False
South Woodlands                                               False
Orchard                                                       False
Kemah                                                         False
Winnie                                                        False
Fairbanks, Northwest Crossing                                 False
Channelview                                                   False
Name: Neighborhood, dtype: bool

In [130]:
houston_named_zips.to_csv('./Data/houston_cleaned_zipcodes.csv', index = False)