In [1]:
import pandas as pd
pd.set_option('mode.chained_assignment', None)

In [2]:
dfw_zipcodes = pd.read_csv('./Data/DFW_zip_codes.csv', header = None, names = ['Zip_Code'])
houston_zipcodes = pd.read_csv('./Data/Greater_Houston_zip_codes.csv', header = None, names = ['Zip_Code'])

In [14]:
dfw_zipcodes.head()

  Zip_Code        Name
0    75001     Addison
1    75002       Allen
2    75006  Carrollton
3    75007  Carrollton
4    75009      Celina

In [4]:
houston_zipcodes.head()

                        Zip_Code
0                77002 (Houston)
1                77003 (Houston)
2                77004 (Houston)
3  77005 (West University Place)
4                77006 (Houston)

In [5]:
def clean_and_name_zipcodes(zipcode_df, names, city):
    column_split = zipcode_df['Zip_Code'].str.split(" ", n = 1, expand = True)
    zipcode_df['Zip_Code'] = column_split[0]
    zipcode_df['Name'] = column_split[1]
    zipcode_df['Name'] = zipcode_df['Name'].str.replace('(', '')
    zipcode_df['Name'] = zipcode_df['Name'].str.replace(')', '')
    no_name = zipcode_df[zipcode_df['Name'] == city]
    no_name['Name'] = names
    zipcode_df.update(no_name)
    return zipcode_df

In [6]:
dallas_names = ['Downtown', 'Historic District', 'Cadillac Heights', 'City Place, Uptown', 'Lower Greenville', 'West_of_Downtown', 'Bishop Arts', 'Bluffview, Greenway Parks', 
        'South Dallas', 'Cockrell Hill', 'West Dallas', 'Northeast Dallas, Lakewood', 'Cedars, South Blvd, Park Row, Wheatley Place', 'Cedar Crest', 'Pleasant Grove', 
        'Casa Linda, Lockwood', 'Turtle Creek, Oaklawn', 'Northwest Dallas', 'Owenwood, Dolphin Heights', 'Wynnewood, Elmwood, Five Mile Creek', 'Deep Ellum',
        'Riverway Estates, Bruton Terrace', 'Casa View, Eastwood Hills', 'Loryland', 'North Dallas', 'Vickory Meadow', 'Wolf Creek', 'Westwood Park', 'Love Field',
        'West Redbird', 'East Redbird', 'Lake Highlands, Highland Meadows', 'Galleria', 'South Dallas', 'Woodbridge, Forest Meadow, Northwood Heights', 'North Branch',
        'Old East', 'West Dallas', 'Far North Dallas', 'Cedar Ridge', 'Park Central', 'Preston Villa', 'Kleberg', 'White Rock Creek', 'Downtown', 'Rollingwood']

In [7]:
houston_names = ['Downtown, Midtown', 'East Downtown', 'South Central, Greater Third Ward', 'Montrose, Hyde Park', 'Rice Military, Memorial Park', 'Shady Acres, Greater Heights, Lazybrook',
            'Northside Village, Woodland Heights', 'George R Brown', 'Greater East End, Second ward, Magnolia Park', 'Harrisburg, Manchester', 'North Shore', 'Silverglen, Sablechase',
            'East Little York, Homestead', 'Meadowbrook, Allendale', 'Central Northwest', 'River Oaks, Fourth Ward', 'Greater Fifth Ward, Denver Harbor, Port Houston', 'Greater OST',
            'Independence Heights', 'Greater Eastwood, Lawndale, Wayside, Gulfgate, Pine Valley', 'Memorial Villages, Briargrove Park', 'Braeswood Place, Willowbend Area', 'Kashmere Gardens',
            'River Oaks, Bellaire Junction', 'Trinity, Houston Gardens, Settegast', 'Texas Medical Center', 'Brays Oaks, Braeburn Gardens', 'Greenbriar Colony, Aldine Estates', 
            'Southeast Houston, Southpark', 'Edgebrook', 'Westbury, Southeast Houston', 'Chinatown, Sharpstown', 'Aldine', 'Fallbrook, Forestwood', 'High Meadows, Fairgreen', 
            'Fairbanks, Northwest Crossing', 'Lakes on Eldridge, Jersey Acres', 'Briarforest, Westchase, Walnut Bend', 'Spring Branch North, Spring Branch West', 'Summerwood',
            'Central Southwest', 'Greenway, Upper Kirby', 'Cloverland, South Acres, Crestmont Park', 'Minnetex, South Acres, Crestmont Park', 'Houston Farms, Sheldon Park',
            'Shadowlake Estates, Forest Acres', 'Sunnyside, Brookhaven', 'Kellys Corner, Quail Bridge, Ridgegate', 'Astrodome, South Main', 'Spring Branch East', 'West Oaks, Uptown',
            'Tanglewood, San Felipe', 'Clear Lake Area, Nassau Bay', 'Clear Lake Area, Pinebrook, Brookwood', 'Greenspoint', 'Hobby, Glenbrook Valley', 'Clear Lake Area, Bay Knoll',
            'Mid-west', 'Harvest Bend, North Houston', 'Wortham Park, Tower Oaks', 'Champions Point, Glennwood Forest, Kleinbrook', 'Heritage Village, Green Oak Park', 'Meyer Park, Collins Park',
            'Champions', 'Willowbrook', 'Brays Oaks, Fondren Park', 'Alief', 'Northridge Park, Remington Ranch', 'Braeburn, Braes Timbers, Robindell', 'Greater Hobby Area', 'Northside, Northline',
            'Briar Forest, Eldridge', 'East Houston', 'Energy Corridor', 'Spring Branch Central', 'Gulfton', 'Royal Oaks, Westchase', 'Addicks, Park Ten', 'Fondren Gardens, Corithian Pointe, Winchester',
            'Northwest Park', 'Golfcrest, Bellfort, Reveille', 'Inwood, Acres Homes', 'Southbelt, Ellington', 'Cypress Station', 'Greater Inwood', 'Forest Lake, Langwood', 'Eastex, Jenson',
            'Windsor Park, Green Trails', 'Copperfield, Canyon Lakes', 'Meyerland', 'Boulevard Oaks, Crowne Plaza', 'Huntington Village, Alief', 'Post Houston', 'Humble', 'Kingwood',
            'Webster']

In [8]:
dfw_cleaned_zipcodes = clean_and_name_zipcodes(dfw_zipcodes, dallas_names, 'Dallas')

In [9]:
houston_cleaned_zipcodes = clean_and_name_zipcodes(houston_zipcodes, houston_names, 'Houston')

In [10]:
dfw_cleaned_zipcodes.head()

  Zip_Code        Name
0    75001     Addison
1    75002       Allen
2    75006  Carrollton
3    75007  Carrollton
4    75009      Celina

In [11]:
houston_cleaned_zipcodes.head()

  Zip_Code                               Name
0    77002                  Downtown, Midtown
1    77003                      East Downtown
2    77004  South Central, Greater Third Ward
3    77005              West University Place
4    77006                Montrose, Hyde Park

In [27]:
dfw_nonresidential_zips = ['75390']
dfw_cleaned_zipcodes = dfw_cleaned_zipcodes[~dfw_cleaned_zipcodes['Zip_Code'].isin(dfw_nonresidential_zips)]

In [28]:
dfw_cleaned_zipcodes.to_csv('./Data/dfw_cleaned_zipcodes.csv', index = False)

In [35]:
houston_nonresidential_zips = ['77201', '77507']
houston_cleaned_zipcodes = houston_cleaned_zipcodes[~houston_cleaned_zipcodes['Zip_Code'].isin(houston_nonresidential_zips)]

In [36]:
houston_cleaned_zipcodes.to_csv('./Data/houston_cleaned_zipcodes.csv', index = False)