In [1]:
import pandas as pd
pd.set_option('mode.chained_assignment', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
dfw_zipcodes = pd.read_csv('./Data/DFW_zip_codes.csv', header = None, names = ['Zip_Code'])
houston_zipcodes = pd.read_csv('./Data/Greater_Houston_zip_codes.csv', header = None, names = ['Zip_Code'])

In [3]:
dfw_zipcodes.head()

             Zip_Code
0     75001 (Addison)
1       75002 (Allen)
2  75006 (Carrollton)
3  75007 (Carrollton)
4      75009 (Celina)

In [4]:
houston_zipcodes.head()

                        Zip_Code
0                77002 (Houston)
1                77003 (Houston)
2                77004 (Houston)
3  77005 (West University Place)
4                77006 (Houston)

In [5]:
def clean_zipcodes(zipcode_df):
    column_split = zipcode_df['Zip_Code'].str.split(" ", n = 1, expand = True)
    zipcode_df['Zip_Code'] = column_split[0]
    zipcode_df['Name'] = column_split[1]
    zipcode_df['Name'] = zipcode_df['Name'].str.replace('(', '')
    zipcode_df['Name'] = zipcode_df['Name'].str.replace(')', '')
    return zipcode_df

In [6]:
dallas_cleaned_zips = clean_zipcodes(dfw_zipcodes)

In [7]:
dallas_cleaned_zips.head()

  Zip_Code        Name
0    75001     Addison
1    75002       Allen
2    75006  Carrollton
3    75007  Carrollton
4    75009      Celina

In [8]:
print(dallas_cleaned_zips['Name'].value_counts() > 1)

Dallas                   True
Fort Worth               True
Arlington                True
Denton                   True
Plano                    True
Irving                   True
Garland                  True
Grand Prairie            True
Weatherford              True
Mesquite                 True
Carrollton               True
McKinney                 True
Richardson               True
Lewisville               True
Granbury                 True
Duncanville              True
North Richland Hills     True
Waxahachie               True
Frisco                   True
Rowlett                  True
Cleburne                 True
Greenville               True
Rockwall                 True
Euless                   True
Lancaster                True
Bedford                  True
Hurst                    True
University Park          True
Terrell                  True
Flower Mound             True
Allen                    True
Celina                  False
Wolfe City              False
Keller                  False
Tolar                   False
Fate                    False
Aledo                   False
Midlothian              False
Venus                   False
Grapevine               False
Quinlan                 False
Sunnyvale               False
Pecan Acres             False
Little Elm              False
Maypearl                False
Royse City              False
The Colony              False
Wylie                   False
Rainbow                 False
Azle                    False
Rhome                   False
Chico                   False
Millsap                 False
Sachse                  False
Avalon                  False
Pilot Point             False
Palmer                  False
Aubrey                  False
DeSoto                  False
Caddo Mills             False
Scurry                  False
Crandall                False
Whitt                   False
Southlake               False
Ponder                  False
Commerce                False
Glen Rose               False
Anna                    False
Kennedale               False
Prosper                 False
Sanger                  False
Krum                    False
Paradise                False
Josephine               False
Lillian                 False
Celeste                 False
Kaufman                 False
Italy                   False
Crowley                 False
Cedar Hill              False
Seagoville              False
Lavon                   False
Trophy Club             False
Ennis                   False
Addison                 False
Grandview               False
Murphy                  False
Mansfield               False
Lone Oak                False
Hutchins                False
Burleson                False
Godley                  False
Alvord                  False
Mabank                  False
Milford                 False
Lipan                   False
Rosser                  False
Ferris                  False
Keene                   False
Lake Dallas             False
Glenn Heights           False
Boyd                    False
Joshua                  False
Haltom City             False
Alvarado                False
Melissa                 False
Lantana                 False
Campbell                False
Ut Sw Medical Center    False
Decatur                 False
Farmersville            False
Watauga                 False
Farmers Branch          False
Springtown              False
Wilmer                  False
Kemp                    False
Bardwell                False
Coppell                 False
Princeton               False
Richland Hills          False
Cresson                 False
Benbrook                False
Bridgeport              False
Poolville               False
Blue Ridge              False
Colleyville             False
Nemo                    False
Balch Springs           False
Nevada                  False
Forney                  False
Forreston               False
Rio Vista               False
Name: Name, dtype: bool

In [9]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Name'] == 'Dallas'])

    Zip_Code    Name
89     75201  Dallas
90     75202  Dallas
91     75203  Dallas
92     75204  Dallas
94     75206  Dallas
95     75207  Dallas
96     75208  Dallas
97     75209  Dallas
98     75210  Dallas
99     75211  Dallas
100    75212  Dallas
101    75214  Dallas
102    75215  Dallas
103    75216  Dallas
104    75217  Dallas
105    75218  Dallas
106    75219  Dallas
107    75220  Dallas
108    75223  Dallas
109    75224  Dallas
111    75226  Dallas
112    75227  Dallas
113    75228  Dallas
114    75229  Dallas
115    75230  Dallas
116    75231  Dallas
117    75232  Dallas
118    75233  Dallas
120    75235  Dallas
121    75236  Dallas
122    75237  Dallas
123    75238  Dallas
124    75240  Dallas
125    75241  Dallas
126    75243  Dallas
127    75244  Dallas
128    75246  Dallas
129    75247  Dallas
130    75248  Dallas
131    75249  Dallas
132    75251  Dallas
133    75252  Dallas
134    75253  Dallas
135    75254  Dallas
136    75270  Dallas
137    75287  Dallas

In [10]:
dallas_names = ['Downtown Dallas', 'Historic District - Dallas', 'Cadillac Heights - Dallas', '(City Place, Uptown) - Dallas', 'Lower Greenville - Dallas', 'West_of_Downtown - Dallas', 'Bishop Arts - Dallas', '(Bluffview, Greenway Parks) - Dallas', 
        'South Dallas - Cotton Bowl Area', 'Cockrell Hill - Dallas', 'West Dallas', 'Northeast Dallas, Lakewood', '(Cedars, South Blvd, Park Row, Wheatley Place) - Dallas', 'Cedar Crest - Dallas', 'Pleasant Grove - Dallas', 
        '(Casa Linda, Lockwood) - Dallas', '(Turtle Creek, Oaklawn) - Dallas', 'Northwest Dallas', '(Owenwood, Dolphin Heights) - Dallas', '(Wynnewood, Elmwood, Five Mile Creek) - Dallas', 'Deep Ellum - Dallas',
        '(Riverway Estates, Bruton Terrace) - Dallas', '(Casa View, Eastwood Hills) - Dallas', 'Loryland - Dallas', 'North Dallas', 'Vickory Meadow - Dallas', 'Wolf Creek - Dallas', 'Westwood Park - Dallas', 'Love Field - Dallas',
        'West Redbird - Dallas', 'East Redbird - Dallas', '(Lake Highlands, Highland Meadows) - Dallas', 'Galleria - Dallas', 'South Dallas', '(Woodbridge, Forest Meadow, Northwood Heights) - Dallas', 'North Branch - Dallas',
        'Old East - Dallas', 'Brook Hollow - Dallas', 'Far North Dallas', 'Cedar Ridge - Dallas', 'Park Central - Dallas', 'Preston Villa - Dallas', 'Kleberg - Dallas', 'White Rock Creek - Dallas', 'Downtown - Dallas', 'Rollingwood - Dallas']

In [11]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Name'] == 'Cleburne'])

    Zip_Code      Name
171    76031  Cleburne
172    76033  Cleburne

In [12]:
cleburne_names = ['East Cleburne', 'West Cleburne']

In [13]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Name'] == 'Fort Worth'])

    Zip_Code        Name
185    76052  Fort Worth
209    76102  Fort Worth
210    76103  Fort Worth
211    76104  Fort Worth
212    76105  Fort Worth
213    76106  Fort Worth
214    76107  Fort Worth
215    76108  Fort Worth
216    76109  Fort Worth
217    76110  Fort Worth
218    76111  Fort Worth
219    76112  Fort Worth
220    76114  Fort Worth
221    76115  Fort Worth
222    76116  Fort Worth
225    76119  Fort Worth
226    76120  Fort Worth
227    76123  Fort Worth
229    76127  Fort Worth
230    76129  Fort Worth
231    76131  Fort Worth
232    76132  Fort Worth
233    76133  Fort Worth
234    76134  Fort Worth
235    76135  Fort Worth
236    76137  Fort Worth
237    76140  Fort Worth
239    76155  Fort Worth
240    76164  Fort Worth
241    76177  Fort Worth
242    76179  Fort Worth
255    76244  Fort Worth
256    76247  Fort Worth

In [14]:
fort_worth_names = ['Haslet - Fort Worth', '(Greenway, Upper Westside, Eastchase) - Fort Worth', 'Meadowbrook - Fort Worth', '(Hillside, Morningside) - Fort Worth', 'Burchill - Fort Worth',
                   '(Diamond Hill, Far Greater Northside Historical, North Hill Manor) - Fort Worth', '(Arlington Heights, Monticello, West Beyer) - Fort Worth', 'White Settlement - Fort Worth',
                   'TCU Area - Fort Worth', '(Shaw Clarke, Ryan Place, Fairmont-Southside Historic District) - Fort Worth', '(Sylvan Heights West, Scenic Bluff) - Fort Worth', '(Ryanwood, Handley) - Fort Worth',
                   '(Fair Oaks, Calloway Park) - Fort Worth', '(Southland Terrace, North Greenbriar) - Fort Worth', '(Western Hills, Ridglea Hills) - Fort Worth', '(Echo Heights, Glencrest) - Fort Worth', 
                   '(John T White, Cobblestone) - Fort Worth', '(Wedgewood, Stone Meadow) - Fort Worth', 'NAS-JRB - Fort Worth', 'TCU', '(North Brook, Fossil Creek Estates) - Fort Worth',
                   '(Quail Ridge Estates, Huken Bend Estates) - Fort Worth', 'Wedgewood - Fort Worth', '(Willow Creek, South Greenbriar, Highland Hills) - Fort Worth', '(Lakeland, Lake Worth, Lakeside) - Fort Worth',
                   '(Summerfields, Summerbrook) - Fort Worth', '(Quail Run, Hamlet, Garden Acres) - Fort Worth', 'DFW Airport Area - Fort Worth', '(Northside, Marine Park) - Fort Worth',
                   '(Texas Motor Speedway, Elizabethtown) - Fort Worth', '(Saginaw, Eagle Mountain) - Fort Worth', 'Keller - Fort Worth', 'Justin - Fort Worth']

In [15]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Name'] == 'Arlington'])

    Zip_Code       Name
152    76001  Arlington
153    76002  Arlington
154    76006  Arlington
157    76010  Arlington
158    76011  Arlington
159    76012  Arlington
160    76013  Arlington
161    76014  Arlington
162    76015  Arlington
163    76016  Arlington
164    76017  Arlington
165    76018  Arlington

In [16]:
arlington_names = ['Southwest Arlington', 'Southeast Arlington', 'River Legacy Parks - Arlington', 'East Arlington', '(Six Flags, Stadium Areas) - Arlington', 'Northwest Arlington', 
                  'West Arlington', 'Vandergriff Park Area - Arlington', 'Parks Mall Area - Arlington', 'Lake Arlington Area - Arlington', 'Green Oaks - Arlington', 'Fish Creek - Arlington']

In [17]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Name'] == 'Irving'])

   Zip_Code    Name
16    75038  Irving
17    75039  Irving
30    75060  Irving
31    75061  Irving
32    75062  Irving
33    75063  Irving

In [18]:
irving_names = ['(Cottonwood Valley, Arts District) - Irving', 'Las Colinas - Irving', '(Lamar Brown, Irving Lake, Trinity Oaks) - Irving', '(Garden Oaks, Plymoth Park) - Irving',
               '(Hillcrest Oaks, Arts District, Woodhaven) - Irving', '(Hackberry Creek, Valley Ranch) - Irving']

In [19]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Name'] == 'Denton'])

    Zip_Code    Name
245    76201  Denton
246    76205  Denton
247    76207  Denton
248    76208  Denton
249    76209  Denton
250    76210  Denton

In [20]:
denton_names = ['West Denton', 'South Denton', '(North Lakes Park, Denton Airport) - Denton', 'Far East Denton', 'Northeast Denton', 'Corinth - Denton']

In [21]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Name'] == 'Plano'])

   Zip_Code   Name
9     75023  Plano
10    75024  Plano
11    75025  Plano
40    75074  Plano
41    75075  Plano
50    75093  Plano

In [22]:
plano_names = ['(Quail Creek, Cross Bend) - Plano', '(Deerfield West, Normandy Estates) - Plano', '(Ridgeview, Russel Creek Park) - Plano', '(Timber Brook, Oak Point, Plano Park) - Plano',
              '(Greenway Court, Pitman Creek) - Plano', '(Willow Bend, Westworth Estates) - Plano']

In [23]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Name'] == 'Garland'])

   Zip_Code     Name
18    75040  Garland
19    75041  Garland
20    75042  Garland
21    75043  Garland
22    75044  Garland

In [24]:
garland_names = ['Northeast Garland', '(Almeta, Bonite, Bella Vista) - Garland', '(Forest Crest, Park Groves, Creekside Village) - Garland', 'Bass Park Area - Garland', 
                '(Firewheel Hills, Picket Place, Camelot) - Garland']

In [25]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Name'] == 'Weatherford'])

    Zip_Code         Name
203    76085  Weatherford
204    76086  Weatherford
205    76087  Weatherford
206    76088  Weatherford

In [26]:
weatherford_names = ['Far North - Weatherford', 'Southeast Weatherford', 'South and East Weatherford', 'Northwest Weatherford']

In [27]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Name'] == 'Grand Prairie'])

   Zip_Code           Name
24    75050  Grand Prairie
25    75051  Grand Prairie
26    75052  Grand Prairie
27    75054  Grand Prairie

In [28]:
grand_prairie_names = ['North Grand Prairie', 'South Grand Prairie', 'Southwest Grand Prairie', 'Estes Park Area - Grand Prairie']

In [29]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Name'] == 'Mesquite'])

   Zip_Code      Name
70    75149  Mesquite
71    75150  Mesquite
86    75181  Mesquite

In [30]:
mesquite_names = ['Central to West Mesquite', 'Northwest Mesquite', 'Southeast Mesquite']

In [31]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Name'] == 'Richardson'])

   Zip_Code        Name
44    75080  Richardson
45    75081  Richardson
46    75082  Richardson

In [32]:
richardson_names = ['Northwest Richardson', 'East Richardson', 'Northeast Richardson']

In [33]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Name'] == 'Lewisville'])

   Zip_Code        Name
29    75057  Lewisville
35    75067  Lewisville
42    75077  Lewisville

In [34]:
lewisville_names = ['Northeast to Southeast Lewisville', 'West to Southwest Lewisville', 'Northwest Lewisville']

In [35]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Name'] == 'McKinney'])

   Zip_Code      Name
37    75069  McKinney
38    75070  McKinney
39    75071  McKinney

In [36]:
mckinney_names = ['Southeast McKinney', 'Southwest McKinney', 'North McKinney']

In [37]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Name'] == 'Carrollton'])

  Zip_Code        Name
2    75006  Carrollton
3    75007  Carrollton
5    75010  Carrollton

In [38]:
carrollton_names = ['Central Carrolton', 'North Carrollton', 'Far North Carrollton']

In [39]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Name'] == 'Rowlett'])

   Zip_Code     Name
48    75088  Rowlett
49    75089  Rowlett

In [40]:
rowlett_names = ['South Rowlett', 'North Rowlett']

In [41]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Name'] == 'Terrell'])

   Zip_Code     Name
77    75160  Terrell
78    75161  Terrell

In [42]:
terrell_names = ['West Terrell', 'East Terrell']

In [43]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Name'] == 'Lancaster'])

   Zip_Code       Name
62    75134  Lancaster
68    75146  Lancaster

In [44]:
lancaster_names = ['North Lancaster', 'South Lancaster']

In [45]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Name'] == 'Duncanville'])

   Zip_Code         Name
57    75116  Duncanville
64    75137  Duncanville

In [46]:
duncanville_names = ['North Duncanville', 'South Duncanville']

In [47]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Name'] == 'North Richland Hills'])

    Zip_Code                  Name
243    76180  North Richland Hills
244    76182  North Richland Hills

In [48]:
north_richland_hills_names = ['North Richland Hills - Fort Worth', 'Smithfield - Fort Worth']

In [49]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Name'] == 'Allen'])

  Zip_Code   Name
1    75002  Allen
6    75013  Allen

In [50]:
allen_names = ['West Allen', 'East Allen']

In [51]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Name'] == 'Bedford'])

    Zip_Code     Name
167    76021  Bedford
168    76022  Bedford

In [52]:
bedford_names = ['North Bedford', 'South Bedford']

In [53]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Name'] == 'Waxahachie'])

   Zip_Code        Name
80    75165  Waxahachie
82    75167  Waxahachie

In [54]:
waxahachie_names = ['East Waxahachie', 'West Waxahachie']

In [55]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Name'] == 'Granbury'])

    Zip_Code      Name
181    76048  Granbury
182    76049  Granbury

In [56]:
granbury_names = ['West Granbury', 'East Granbury']

In [57]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Name'] == 'Greenville'])

    Zip_Code        Name
139    75401  Greenville
140    75402  Greenville

In [58]:
greenville_names = ['North Greenville', 'South Greenville']

In [59]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Name'] == 'Hurst'])

    Zip_Code   Name
186    76053  Hurst
187    76054  Hurst

In [60]:
hurst_names = ['South Hurst', 'North Hurst']

In [61]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Name'] == 'Flower Mound'])

   Zip_Code          Name
8     75022  Flower Mound
12    75028  Flower Mound

In [62]:
flower_mound_names = ['West Flower Mound', 'East Flower Mound']

In [63]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Name'] == 'Frisco'])

   Zip_Code    Name
14    75034  Frisco
15    75035  Frisco

In [64]:
frisco_names = ['West Frisco', 'East Frisco']

In [65]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Name'] == 'University Park'])

    Zip_Code             Name
93     75205  University Park
110    75225  University Park

In [66]:
university_park_names = ['(Park Cities, Highland Park) - Dallas', 'University Park']

In [67]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Name'] == 'Rockwall'])

   Zip_Code      Name
13    75032  Rockwall
47    75087  Rockwall

In [68]:
rockwall_names = ['South Rockwall', 'North Rockwall' ]

In [69]:
print(dallas_cleaned_zips[dallas_cleaned_zips['Name'] == 'Euless'])

    Zip_Code    Name
176    76039  Euless
177    76040  Euless

In [70]:
euless_names = ['North Euless', 'South Euless']

In [71]:
names_lists = [dallas_names, cleburne_names, fort_worth_names, arlington_names, irving_names, denton_names, plano_names, garland_names, weatherford_names, grand_prairie_names,
              mesquite_names, richardson_names, lewisville_names, mckinney_names, carrollton_names, rowlett_names, terrell_names, lancaster_names, duncanville_names,
              north_richland_hills_names, allen_names, bedford_names, waxahachie_names, granbury_names, greenville_names, hurst_names, flower_mound_names, frisco_names,
              university_park_names, rockwall_names, euless_names]

cities = ['Dallas', 'Cleburne', 'Fort Worth', 'Arlington', 'Irving', 'Denton', 'Plano', 'Garland', 'Weatherford', 'Grand Prairie', 'Mesquite', 'Richardson', 'Lewisville',
         'McKinney', 'Carrollton', 'Rowlett', 'Terrell', 'Lancaster', 'Duncanville', 'North Richland Hills', 'Allen', 'Bedford', 'Waxahachie', 'Granbury', 'Greenville',
         'Hurst', 'Flower Mound', 'Frisco', 'University Park', 'Rockwall', 'Euless']

In [72]:
def name_zipcodes(zipcode_df, cities, names_list):
    for city, names in zip(cities, names_lists):
        no_name = zipcode_df[zipcode_df['Name'] == city]
        no_name['Name'] = names
        zipcode_df.update(no_name)
    return zipcode_df

In [73]:
dfw_named_zips = name_zipcodes(dallas_cleaned_zips, cities, names_lists)

In [74]:
dfw_nonresidential_zips = ['75390', '75270']
dfw_named_zips = dfw_named_zips[~dfw_named_zips['Zip_Code'].isin(dfw_nonresidential_zips)]

In [75]:
print(dfw_named_zips['Name'].value_counts() > 1)

(Wedgewood, Stone Meadow) - Fort Worth                                             False
Northeast Dallas, Lakewood                                                         False
Southeast Mesquite                                                                 False
Palmer                                                                             False
Old East - Dallas                                                                  False
Alvarado                                                                           False
Forney                                                                             False
Grapevine                                                                          False
Nemo                                                                               False
(Greenway, Upper Westside, Eastchase) - Fort Worth                                 False
South Duncanville                                                                  False
Wolfe City                                                                         False
Northeast Richardson                                                               False
Bridgeport                                                                         False
Anna                                                                               False
West Arlington                                                                     False
Princeton                                                                          False
Far North Dallas                                                                   False
Italy                                                                              False
Southwest Grand Prairie                                                            False
Godley                                                                             False
Ponder                                                                             False
East Redbird - Dallas                                                              False
Pecan Acres                                                                        False
Kemp                                                                               False
Wilmer                                                                             False
Northwest Lewisville                                                               False
Springtown                                                                         False
Cedar Ridge - Dallas                                                               False
West Waxahachie                                                                    False
Kaufman                                                                            False
West Flower Mound                                                                  False
Lavon                                                                              False
West Terrell                                                                       False
(Texas Motor Speedway, Elizabethtown) - Fort Worth                                 False
Mabank                                                                             False
White Rock Creek - Dallas                                                          False
Kleberg - Dallas                                                                   False
Boyd                                                                               False
Brook Hollow - Dallas                                                              False
West Denton                                                                        False
(Echo Heights, Glencrest) - Fort Worth                                             False
Justin - Fort Worth                                                                False
Ferris                                                                             False
(Hillside, Morningside) - Fort Worth                                               False
Northeast to Southeast Lewisville                                                  False
Milford                                                                            False
Celeste                                                                            False
North Greenville                                                                   False
South Rowlett                                                                      False
North Grand Prairie                                                                False
Ennis                                                                              False
Burleson                                                                           False
Cadillac Heights - Dallas                                                          False
(Owenwood, Dolphin Heights) - Dallas                                               False
Crowley                                                                            False
Millsap                                                                            False
Lone Oak                                                                           False
Mansfield                                                                          False
Northwest Arlington                                                                False
(Deerfield West, Normandy Estates) - Plano                                         False
Grandview                                                                          False
Far North Carrollton                                                               False
Addison                                                                            False
North Branch - Dallas                                                              False
Loryland - Dallas                                                                  False
(Bluffview, Greenway Parks) - Dallas                                               False
South Dallas                                                                       False
North Euless                                                                       False
Midlothian                                                                         False
West_of_Downtown - Dallas                                                          False
Sanger                                                                             False
Prosper                                                                            False
Campbell                                                                           False
(Fair Oaks, Calloway Park) - Fort Worth                                            False
Glen Rose                                                                          False
Preston Villa - Dallas                                                             False
Wolf Creek - Dallas                                                                False
Central Carrolton                                                                  False
Northwest Mesquite                                                                 False
North Dallas                                                                       False
North Rockwall                                                                     False
Scurry                                                                             False
West Redbird - Dallas                                                              False
Las Colinas - Irving                                                               False
(Ryanwood, Handley) - Fort Worth                                                   False
East Arlington                                                                     False
Northwest Dallas                                                                   False
South Grand Prairie                                                                False
(Quail Run, Hamlet, Garden Acres) - Fort Worth                                     False
Avalon                                                                             False
Sachse                                                                             False
Park Central - Dallas                                                              False
South Dallas - Cotton Bowl Area                                                    False
Decatur                                                                            False
Chico                                                                              False
West to Southwest Lewisville                                                       False
East Flower Mound                                                                  False
Royse City                                                                         False
(Turtle Creek, Oaklawn) - Dallas                                                   False
Josephine                                                                          False
Blue Ridge                                                                         False
(Cottonwood Valley, Arts District) - Irving                                        False
(Greenway Court, Pitman Creek) - Plano                                             False
(Riverway Estates, Bruton Terrace) - Dallas                                        False
North Lancaster                                                                    False
(Woodbridge, Forest Meadow, Northwood Heights) - Dallas                            False
DeSoto                                                                             False
Meadowbrook - Fort Worth                                                           False
(Garden Oaks, Plymoth Park) - Irving                                               False
Vandergriff Park Area - Arlington                                                  False
(Forest Crest, Park Groves, Creekside Village) - Garland                           False
Green Oaks - Arlington                                                             False
Cedar Crest - Dallas                                                               False
White Settlement - Fort Worth                                                      False
Parks Mall Area - Arlington                                                        False
NAS-JRB - Fort Worth                                                               False
Far East Denton                                                                    False
TCU                                                                                False
North McKinney                                                                     False
(John T White, Cobblestone) - Fort Worth                                           False
East Cleburne                                                                      False
Kennedale                                                                          False
(Sylvan Heights West, Scenic Bluff) - Fort Worth                                   False
(Casa View, Eastwood Hills) - Dallas                                               False
Murphy                                                                             False
(Timber Brook, Oak Point, Plano Park) - Plano                                      False
Alvord                                                                             False
Keller                                                                             False
Celina                                                                             False
Fate                                                                               False
Richland Hills                                                                     False
Tolar                                                                              False
Fish Creek - Arlington                                                             False
Farmersville                                                                       False
Lipan                                                                              False
South Lancaster                                                                    False
West Cleburne                                                                      False
West Granbury                                                                      False
Forreston                                                                          False
Maypearl                                                                           False
Northeast Garland                                                                  False
Nevada                                                                             False
Balch Springs                                                                      False
(Six Flags, Stadium Areas) - Arlington                                             False
Poolville                                                                          False
North Bedford                                                                      False
Colleyville                                                                        False
South Hurst                                                                        False
(Arlington Heights, Monticello, West Beyer) - Fort Worth                           False
(Park Cities, Highland Park) - Dallas                                              False
Haslet - Fort Worth                                                                False
Benbrook                                                                           False
Southlake                                                                          False
(Quail Creek, Cross Bend) - Plano                                                  False
Joshua                                                                             False
Cresson                                                                            False
East Frisco                                                                        False
Estes Park Area - Grand Prairie                                                    False
DFW Airport Area - Fort Worth                                                      False
Downtown Dallas                                                                    False
Lower Greenville - Dallas                                                          False
(Willow Creek, South Greenbriar, Highland Hills) - Fort Worth                      False
Bardwell                                                                           False
West Frisco                                                                        False
(Southland Terrace, North Greenbriar) - Fort Worth                                 False
South Greenville                                                                   False
Keene                                                                              False
Rainbow                                                                            False
Northwest Richardson                                                               False
Keller - Fort Worth                                                                False
Commerce                                                                           False
(Almeta, Bonite, Bella Vista) - Garland                                            False
Watauga                                                                            False
Melissa                                                                            False
Pleasant Grove - Dallas                                                            False
(Western Hills, Ridglea Hills) - Fort Worth                                        False
Little Elm                                                                         False
(City Place, Uptown) - Dallas                                                      False
Glenn Heights                                                                      False
Lake Dallas                                                                        False
Farmers Branch                                                                     False
Coppell                                                                            False
Rosser                                                                             False
Lantana                                                                            False
Wedgewood - Fort Worth                                                             False
Galleria - Dallas                                                                  False
Seagoville                                                                         False
North Carrollton                                                                   False
Paradise                                                                           False
Hutchins                                                                           False
TCU Area - Fort Worth                                                              False
South Bedford                                                                      False
Rio Vista                                                                          False
(Wynnewood, Elmwood, Five Mile Creek) - Dallas                                     False
(Lamar Brown, Irving Lake, Trinity Oaks) - Irving                                  False
Burchill - Fort Worth                                                              False
Westwood Park - Dallas                                                             False
Trophy Club                                                                        False
Southwest McKinney                                                                 False
East Terrell                                                                       False
North Richland Hills - Fort Worth                                                  False
South Euless                                                                       False
(Quail Ridge Estates, Huken Bend Estates) - Fort Worth                             False
(Cedars, South Blvd, Park Row, Wheatley Place) - Dallas                            False
(Summerfields, Summerbrook) - Fort Worth                                           False
Lillian                                                                            False
Southeast McKinney                                                                 False
Wylie                                                                              False
(Hackberry Creek, Valley Ranch) - Irving                                           False
Cedar Hill                                                                         False
Historic District - Dallas                                                         False
(Casa Linda, Lockwood) - Dallas                                                    False
Bass Park Area - Garland                                                           False
Whitt                                                                              False
(North Lakes Park, Denton Airport) - Denton                                        False
Crandall                                                                           False
East Granbury                                                                      False
Deep Ellum - Dallas                                                                False
Caddo Mills                                                                        False
Love Field - Dallas                                                                False
Vickory Meadow - Dallas                                                            False
Aubrey                                                                             False
(Shaw Clarke, Ryan Place, Fairmont-Southside Historic District) - Fort Worth       False

In [76]:
dfw_named_zips.to_csv('./Data/dfw_cleaned_zipcodes.csv', index = False)

In [77]:
houston_cleaned_zips = clean_zipcodes(houston_zipcodes)

In [78]:
houston_cleaned_zips.head()

  Zip_Code                   Name
0    77002                Houston
1    77003                Houston
2    77004                Houston
3    77005  West University Place
4    77006                Houston

In [79]:
print(houston_cleaned_zips['Name'].value_counts() > 1)

Houston                   True
Conroe                    True
Pasadena                  True
Spring                    True
Katy                      True
Galveston                 True
Richmond                  True
Baytown                   True
The Woodlands             True
Bolivar Peninsula         True
Sugar Land                True
Cleveland                 True
Santa Fe                  True
Humble                    True
Tomball                   True
Pearland                  True
Missouri City             True
Montgomery                True
Willis                    True
Magnolia                  True
Texas City                True
League City               True
Cypress                   True
Seabrook                 False
San Felipe               False
Liberty                  False
Wallisville              False
South Houston            False
Prairie View             False
Romayor                  False
Hardin                   False
Dickinson                False
Hempstead                False
Damon                    False
Danbury                  False
Rosharon                 False
Hull                     False
Hankamer                 False
Winnie                   False
Jacinto City             False
New Caney                False
Mission Bend             False
Cloverleaf               False
Stafford                 False
Splendora                False
Fresno                   False
Devers                   False
Kendleton                False
Manvel                   False
Wallis                   False
Pinehurst                False
Thompsons                False
Huffman                  False
Highlands                False
Rye                      False
Freeport                 False
Bellville                False
Clute                    False
Daisetta                 False
Alvin                    False
Hitchcock                False
Galena Park              False
Industry                 False
West Columbia            False
Stowell                  False
Crosby                   False
Hockley                  False
Atascocita               False
Friendswood              False
Guy                      False
Weston Lakes             False
Rosenberg                False
Mont Belvieu             False
Bellaire                 False
Bleiblerville            False
Pattison                 False
Lake Jackson             False
Bacliff                  False
Channelview              False
Deer Park                False
Brazoria                 False
Cat Spring               False
Angleton                 False
New Ulm                  False
Waller                   False
Porter                   False
West University Place    False
La Porte                 False
Simonton                 False
Dayton                   False
Sweeny                   False
Brookshire               False
Anahuac                  False
Orchard                  False
Needville                False
Sealy                    False
Liverpool                False
La Marque                False
Beasley                  False
Name: Name, dtype: bool

In [80]:
houston_cleaned_zips[houston_cleaned_zips['Name'] == 'Houston']

    Zip_Code     Name
0      77002  Houston
1      77003  Houston
2      77004  Houston
4      77006  Houston
5      77007  Houston
6      77008  Houston
7      77009  Houston
8      77010  Houston
9      77011  Houston
10     77012  Houston
11     77013  Houston
12     77014  Houston
14     77016  Houston
15     77017  Houston
16     77018  Houston
17     77019  Houston
18     77020  Houston
19     77021  Houston
20     77022  Houston
21     77023  Houston
22     77024  Houston
23     77025  Houston
24     77026  Houston
25     77027  Houston
26     77028  Houston
28     77030  Houston
29     77031  Houston
30     77032  Houston
31     77033  Houston
32     77034  Houston
33     77035  Houston
34     77036  Houston
35     77037  Houston
36     77038  Houston
37     77039  Houston
38     77040  Houston
39     77041  Houston
40     77042  Houston
41     77043  Houston
42     77044  Houston
43     77045  Houston
44     77046  Houston
45     77047  Houston
46     77048  Houston
47     77049  Houston
48     77050  Houston
49     77051  Houston
50     77053  Houston
51     77054  Houston
52     77055  Houston
53     77056  Houston
54     77057  Houston
55     77058  Houston
56     77059  Houston
57     77060  Houston
58     77061  Houston
59     77062  Houston
60     77063  Houston
61     77064  Houston
62     77065  Houston
63     77066  Houston
64     77067  Houston
65     77068  Houston
66     77069  Houston
67     77070  Houston
68     77071  Houston
69     77072  Houston
70     77073  Houston
71     77074  Houston
72     77075  Houston
73     77076  Houston
74     77077  Houston
75     77078  Houston
76     77079  Houston
77     77080  Houston
78     77081  Houston
79     77082  Houston
81     77084  Houston
82     77085  Houston
83     77086  Houston
84     77087  Houston
85     77088  Houston
86     77089  Houston
87     77090  Houston
88     77091  Houston
89     77092  Houston
90     77093  Houston
91     77094  Houston
92     77095  Houston
93     77096  Houston
94     77098  Houston
95     77099  Houston
96     77201  Houston
108    77339  Houston
109    77345  Houston
226    77598  Houston

In [81]:
houston_names = ['Downtown, Midtown', 'East Downtown', 'South Central, Greater Third Ward', 'Montrose, Hyde Park', 'Rice Military, Memorial Park', 'Shady Acres, Greater Heights, Lazybrook',
            'Northside Village, Woodland Heights', 'George R Brown', 'Greater East End, Second ward, Magnolia Park', 'Harrisburg, Manchester', 'North Shore', 'Silverglen, Sablechase',
            'East Little York, Homestead', 'Meadowbrook, Allendale', 'Central Northwest', 'River Oaks, Fourth Ward', 'Greater Fifth Ward, Denver Harbor, Port Houston', 'Greater OST',
            'Independence Heights', 'Greater Eastwood, Lawndale, Wayside, Gulfgate, Pine Valley', 'Memorial Villages, Briargrove Park', 'Braeswood Place, Willowbend Area', 'Kashmere Gardens',
            'River Oaks, Bellaire Junction', 'Trinity, Houston Gardens, Settegast', 'Texas Medical Center', 'Brays Oaks, Braeburn Gardens', 'Greenbriar Colony, Aldine Estates', 
            'Southeast Houston, Southpark', 'Edgebrook', 'Westbury, Southeast Houston', 'Chinatown, Sharpstown', 'Aldine', 'Fallbrook, Forestwood', 'High Meadows, Fairgreen', 
            'Fairbanks, Northwest Crossing', 'Lakes on Eldridge, Jersey Acres', 'Briarforest, Westchase, Walnut Bend', 'Spring Branch North, Spring Branch West', 'Summerwood',
            'Central Southwest', 'Greenway, Upper Kirby', 'Cloverland, South Acres, Crestmont Park', 'Minnetex, South Acres, Crestmont Park', 'Houston Farms, Sheldon Park',
            'Shadowlake Estates, Forest Acres', 'Sunnyside, Brookhaven', 'Kellys Corner, Quail Bridge, Ridgegate', 'Astrodome, South Main', 'Spring Branch East', 'West Oaks, Uptown',
            'Tanglewood, San Felipe', 'Clear Lake Area, Nassau Bay', 'Clear Lake Area, Pinebrook, Brookwood', 'Greenspoint', 'Hobby, Glenbrook Valley', 'Clear Lake Area, Bay Knoll',
            'Mid-west', 'Harvest Bend, North Houston', 'Wortham Park, Tower Oaks', 'Champions Point, Glennwood Forest, Kleinbrook', 'Heritage Village, Green Oak Park', 'Meyer Park, Collins Park',
            'Champions', 'Willowbrook', 'Brays Oaks, Fondren Park', 'Alief', 'Northridge Park, Remington Ranch', 'Braeburn, Braes Timbers, Robindell', 'Greater Hobby Area', 'Northside, Northline',
            'Briar Forest, Eldridge', 'East Houston', 'Energy Corridor', 'Spring Branch Central', 'Gulfton', 'Royal Oaks, Westchase', 'Addicks, Park Ten', 'Fondren Gardens, Corithian Pointe, Winchester',
            'Northwest Park', 'Golfcrest, Bellfort, Reveille', 'Inwood, Acres Homes', 'Southbelt, Ellington', 'Cypress Station', 'Greater Inwood', 'Forest Lake, Langwood', 'Eastex, Jenson',
            'Windsor Park, Green Trails', 'Copperfield, Canyon Lakes', 'Meyerland', 'Boulevard Oaks, Crowne Plaza', 'Huntington Village, Alief', 'Post Houston', ' North Humble', 'Kingwood',
            'Webster']

In [82]:
houston_cleaned_zips[houston_cleaned_zips['Name'] == 'Conroe']

    Zip_Code    Name
97     77301  Conroe
98     77302  Conroe
99     77303  Conroe
100    77304  Conroe
101    77306  Conroe
128    77384  Conroe
129    77385  Conroe

In [83]:
conroe_names = ['East Conroe', 'Southeast Conroe', 'Northeast Conroe', 'West Conroe', 'Far East Conroe', 'Southwest Conroe', 'East Woodlands - Conroe']

In [84]:
houston_cleaned_zips[houston_cleaned_zips['Name'] == 'Pasadena']

    Zip_Code      Name
173    77502  Pasadena
174    77503  Pasadena
175    77504  Pasadena
176    77505  Pasadena
177    77506  Pasadena
178    77507  Pasadena

In [85]:
pasadena_names = ['Central Pasadena', 'Northwest Pasadena', 'South Pasadena', 'Southeast Pasadena', 'North Pasadena', 'Industrial - Pasadena']

In [86]:
houston_cleaned_zips[houston_cleaned_zips['Name'] == 'Spring']

    Zip_Code    Name
120    77373  Spring
124    77379  Spring
130    77386  Spring
131    77388  Spring
132    77389  Spring

In [87]:
spring_names = ['East Spring', 'Klein Area - Spring', 'Northeast Spring', 'Southwest Spring', 'Northwest Spring']

In [88]:
houston_cleaned_zips[houston_cleaned_zips['Name'] == 'Katy']

    Zip_Code  Name
149    77449  Katy
150    77450  Katy
170    77493  Katy
171    77494  Katy

In [89]:
katy_names = ['Northeast Katy', 'Southeast Katy', 'Noorthwest Katy', 'Southwest Katy']

In [90]:
houston_cleaned_zips[houston_cleaned_zips['Name'] == 'Sugar Land']

    Zip_Code        Name
162    77478  Sugar Land
163    77479  Sugar Land
172    77498  Sugar Land

In [91]:
sugar_land_names = ['Northeast Sugar Land', 'Southwest Sugar Land', 'Northwest Sugarland']

In [92]:
houston_cleaned_zips[houston_cleaned_zips['Name'] == 'Richmond']

    Zip_Code      Name
135    77406  Richmond
136    77407  Richmond
156    77469  Richmond

In [93]:
richmond_names = ['Central Richmond', 'Northeast Richmond', 'South Richmond']

In [94]:
houston_cleaned_zips[houston_cleaned_zips['Name'] == 'Bolivar Peninsula']

    Zip_Code               Name
227    77617  Bolivar Peninsula
228    77623  Bolivar Peninsula
229    77650  Bolivar Peninsula

In [95]:
bolivar_names = ['Central Bolivar Peninsula', 'East Bolivar Peninsula', 'West Bolivar Peninsula' ]

In [96]:
houston_cleaned_zips[houston_cleaned_zips['Name'] == 'The Woodlands']

    Zip_Code           Name
125    77380  The Woodlands
126    77381  The Woodlands
127    77382  The Woodlands

In [97]:
woodlands_names = ['South Woodlands', 'North Woodlands', 'Spring Area - The Woodlands']

In [98]:
houston_cleaned_zips[houston_cleaned_zips['Name'] == 'Baytown']

    Zip_Code     Name
185    77520  Baytown
186    77521  Baytown
187    77523  Baytown

In [99]:
baytown_names = ['Central Baytown', 'North Baytown', 'East Baytown']

In [100]:
houston_cleaned_zips[houston_cleaned_zips['Name'] == 'Galveston']

    Zip_Code       Name
201    77550  Galveston
202    77551  Galveston
203    77554  Galveston

In [101]:
galveston_names = ['East End - Galveston', 'Sea Wall - Galveston', 'West End - Galveston']

In [102]:
houston_cleaned_zips[houston_cleaned_zips['Name'] == 'Cleveland']

    Zip_Code       Name
104    77327  Cleveland
105    77328  Cleveland

In [103]:
cleveland_names = ['East Cleveland', 'West Cleveland']

In [104]:
houston_cleaned_zips[houston_cleaned_zips['Name'] == 'Texas City']

    Zip_Code        Name
223    77590  Texas City
224    77591  Texas City

In [105]:
texas_city_names = ['West Texas City', 'East Texas City']

In [106]:
houston_cleaned_zips[houston_cleaned_zips['Name'] == 'Pearland']

    Zip_Code      Name
218    77581  Pearland
220    77584  Pearland

In [107]:
pearland_names = ['East Pearland', 'West Pearland']

In [108]:
houston_cleaned_zips[houston_cleaned_zips['Name'] == 'Magnolia']

    Zip_Code      Name
111    77354  Magnolia
112    77355  Magnolia

In [109]:
magnolia_names = ['East Magnolia', 'West Magnolia']

In [110]:
houston_cleaned_zips[houston_cleaned_zips['Name'] == 'Santa Fe']

    Zip_Code      Name
179    77510  Santa Fe
183    77517  Santa Fe

In [111]:
santa_fe_names = ['East Santa Fe', 'West Santa Fe']

In [112]:
houston_cleaned_zips[houston_cleaned_zips['Name'] == 'Missouri City']

    Zip_Code           Name
152    77459  Missouri City
169    77489  Missouri City

In [113]:
missouri_city_names = ['Sienna Plantation - Missouri City', 'Missouri City']

In [114]:
houston_cleaned_zips[houston_cleaned_zips['Name'] == 'Tomball']

    Zip_Code     Name
121    77375  Tomball
122    77377  Tomball

In [115]:
tomball_names = ['East Tomball', 'West Tomball']

In [116]:
houston_cleaned_zips[houston_cleaned_zips['Name'] == 'Montgomery']

    Zip_Code        Name
102    77316  Montgomery
113    77356  Montgomery

In [117]:
montgomery_names = ['South Montgomery', 'North Montgomery']

In [118]:
houston_cleaned_zips[houston_cleaned_zips['Name'] == 'Willis']

    Zip_Code    Name
103    77318  Willis
123    77378  Willis

In [119]:
willis_names = ['West Willis', 'East Willis']

In [120]:
houston_cleaned_zips[houston_cleaned_zips['Name'] == 'Cypress']

    Zip_Code     Name
141    77429  Cypress
143    77433  Cypress

In [121]:
cypress_names = ['East Cypress', 'West Cypress']

In [122]:
houston_cleaned_zips[houston_cleaned_zips['Name'] == 'League City']

    Zip_Code         Name
209    77565  League City
213    77573  League City

In [123]:
league_city_names = ['Kemah', 'League City']

In [124]:
houston_cleaned_zips[houston_cleaned_zips['Name'] == 'Humble']

    Zip_Code    Name
107    77338  Humble
133    77396  Humble

In [125]:
humble_names = ['North Humble', 'South Humble']

In [126]:
names_lists = [houston_names, conroe_names, pasadena_names, spring_names, katy_names, sugar_land_names, richmond_names, bolivar_names, woodlands_names, baytown_names,
              galveston_names, cleveland_names, texas_city_names, pearland_names, magnolia_names, santa_fe_names, missouri_city_names, tomball_names, montgomery_names,
              willis_names, cypress_names, league_city_names, humble_names]

cities = ['Houston', 'Conroe', 'Pasadena', 'Spring', 'Katy', 'Sugar Land', 'Richmond', 'Bolivar Peninsula', 'The Woodlands', 'Baytown', 'Galveston', 'Cleveland', 'Texas City',
         'Pearland', 'Magnolia', 'Santa Fe', 'Missouri City', 'Tomball', 'Montgomery', 'Willis', 'Cypress', 'League City', 'Humble']

In [127]:
houston_named_zips = name_zipcodes(houston_cleaned_zips, cities, names_lists)

In [128]:
houston_nonresidential_zips = ['77201', '77507']
houston_named_zips = houston_named_zips[~houston_named_zips['Zip_Code'].isin(houston_nonresidential_zips)]

In [129]:
print(houston_named_zips['Name'].value_counts() > 1)

Daisetta                                                      False
Clute                                                         False
Chinatown, Sharpstown                                         False
Meadowbrook, Allendale                                        False
North Pasadena                                                False
West End - Galveston                                          False
High Meadows, Fairgreen                                       False
Winnie                                                        False
Harrisburg, Manchester                                        False
Silverglen, Sablechase                                        False
Devers                                                        False
Rye                                                           False
Pinehurst                                                     False
Highlands                                                     False
Central Pasadena                                              False
Clear Lake Area, Bay Knoll                                    False
Summerwood                                                    False
Mid-west                                                      False
Astrodome, South Main                                         False
Central Richmond                                              False
North Montgomery                                              False
East Woodlands - Conroe                                       False
Splendora                                                     False
East End - Galveston                                          False
Wallisville                                                   False
Jacinto City                                                  False
Prairie View                                                  False
Dickinson                                                     False
East Santa Fe                                                 False
Spring Area - The Woodlands                                   False
Romayor                                                       False
Danbury                                                       False
Thompsons                                                     False
Noorthwest Katy                                               False
Stowell                                                       False
Addicks, Park Ten                                             False
Klein Area - Spring                                           False
Alvin                                                         False
East Little York, Homestead                                   False
West Cypress                                                  False
Atascocita                                                    False
Freeport                                                      False
Dayton                                                        False
Manvel                                                        False
Windsor Park, Green Trails                                    False
Crosby                                                        False
Orchard                                                       False
Sweeny                                                        False
Northwest Sugarland                                           False
Friendswood                                                   False
East Baytown                                                  False
Northeast Katy                                                False
Northeast Sugar Land                                          False
Central Bolivar Peninsula                                     False
Bellville                                                     False
East Downtown                                                 False
Rosharon                                                      False
Brays Oaks, Fondren Park                                      False
Kellys Corner, Quail Bridge, Ridgegate                        False
Rosenberg                                                     False
Hankamer                                                      False
Brazoria                                                      False
Edgebrook                                                     False
Briar Forest, Eldridge                                        False
Kendleton                                                     False
Southeast Katy                                                False
East Bolivar Peninsula                                        False
Shadowlake Estates, Forest Acres                              False
West Oaks, Uptown                                             False
Hitchcock                                                     False
West Santa Fe                                                 False
Sunnyside, Brookhaven                                         False
Briarforest, Westchase, Walnut Bend                           False
Fallbrook, Forestwood                                         False
Tanglewood, San Felipe                                        False
Fairbanks, Northwest Crossing                                 False
Northeast Conroe                                              False
Kemah                                                         False
Eastex, Jenson                                                False
East Magnolia                                                 False
East Tomball                                                  False
Heritage Village, Green Oak Park                              False
Lake Jackson                                                  False
Cloverleaf                                                    False
New Ulm                                                       False
Central Baytown                                               False
Central Northwest                                             False
Greater OST                                                   False
George R Brown                                                False
West Tomball                                                  False
Lakes on Eldridge, Jersey Acres                               False
South Central, Greater Third Ward                             False
Southwest Spring                                              False
River Oaks, Bellaire Junction                                 False
Meyer Park, Collins Park                                      False
Montrose, Hyde Park                                           False
League City                                                   False
Greater Hobby Area                                            False
North Woodlands                                               False
Harvest Bend, North Houston                                   False
Greater Eastwood, Lawndale, Wayside, Gulfgate, Pine Valley    False
Beasley                                                       False
Greater Inwood                                                False
East Spring                                                   False
Brays Oaks, Braeburn Gardens                                  False
Missouri City                                                 False
Westbury, Southeast Houston                                   False
Sealy                                                         False
Needville                                                     False
Golfcrest, Bellfort, Reveille                                 False
Greater Fifth Ward, Denver Harbor, Port Houston               False
South Woodlands                                               False
Simonton                                                      False
Deer Park                                                     False
Northwest Pasadena                                            False
West University Place                                         False
Galena Park                                                   False
Southbelt, Ellington                                          False
West Texas City                                               False
Aldine                                                        False
West Magnolia                                                 False
West Columbia                                                 False
Southwest Conroe                                              False
East Cleveland                                                False
East Pearland                                                 False
Hardin                                                        False
Mission Bend                                                  False
Alief                                                         False
Champions                                                     False
Kashmere Gardens                                              False
Huffman                                                       False
South Houston                                                 False
Huntington Village, Alief                                     False
Kingwood                                                      False
Shady Acres, Greater Heights, Lazybrook                       False
Spring Branch East                                            False
South Montgomery                                              False
Webster                                                       False
Energy Corridor                                               False
North Shore                                                   False
Damon                                                         False
Northridge Park, Remington Ranch                              False
Pattison                                                      False
Bleiblerville                                                 False
Meyerland                                                     False
Inwood, Acres Homes                                           False
North Baytown                                                 False
West Conroe                                                   False
Liverpool                                                     False
Guy                                                           False
Weston Lakes                                                  False
Royal Oaks, Westchase                                         False
Hull                                                          False
Southeast Houston, Southpark                                  False
Southeast Pasadena                                            False
South Pasadena                                                False
Northwest Park                                                False
East Willis                                                   False
Braeburn, Braes Timbers, Robindell                            False
Spring Branch Central                                         False
Central Southwest                                             False
South Richmond                                                False
La Marque                                                     False
Mont Belvieu                                                  False
Greater East End, Second ward, Magnolia Park                  False
Northside, Northline                                          False
Downtown, Midtown                                             False
Champions Point, Glennwood Forest, Kleinbrook                 False
Cloverland, South Acres, Crestmont Park                       False
La Porte                                                      False
Sienna Plantation - Missouri City                             False
Waller                                                        False
Fresno                                                        False
West Pearland                                                 False
Houston Farms, Sheldon Park                                   False
Hempstead                                                     False
Wortham Park, Tower Oaks                                      False
Hockley                                                       False
River Oaks, Fourth Ward                                       False
Independence Heights                                          False
Texas Medical Center                                          False
Minnetex, South Acres, Crestmont Park                         False
Greenbriar Colony, Aldine Estates                             False
Boulevard Oaks, Crowne Plaza                                  False
Anahuac                                                       False
Northwest Spring                                              False
South Humble                                                  False
New Caney                                                     False
Seabrook                                                      False
Spring Branch North, Spring Branch West                       False
Clear Lake Area, Pinebrook, Brookwood                         False
Stafford                                                      False
Liberty                                                       False
Northside Village, Woodland Heights                           False
Greenway, Upper Kirby                                         False
Industry                                                      False
Angleton                                                      False
Willowbrook                                                   False
Wallis                                                        False
North Humble                                                  False
Braeswood Place, Willowbend Area                              False
Southwest Sugar Land                                          False
West Bolivar Peninsula                                        False
Sea Wall - Galveston                                          False
Northeast Richmond                                            False
San Felipe                                                    False
Clear Lake Area, Nassau Bay                                   False
East Houston                                                  False
East Conroe                                                   False
Hobby, Glenbrook Valley                                       False
Northeast Spring                                              False
West Willis                                                   False
Cypress Station                                               False
Bacliff                                                       False
Forest Lake, Langwood                                         False
Fondren Gardens, Corithian Pointe, Winchester                 False
West Cleveland                                                False
Bellaire                                                      False
Southwest Katy                                                False
Gulfton                                                       False
Cat Spring                                                    False
 North Humble                                                 False
Southeast Conroe                                              False
Brookshire                                                    False
Porter                                                        False
Memorial Villages, Briargrove Park                            False
Channelview                                                   False
East Texas City                                               False
Greenspoint                                                   False
East Cypress                                                  False
Rice Military, Memorial Park                                  False
Trinity, Houston Gardens, Settegast                           False
Far East Conroe                                               False
Copperfield, Canyon Lakes                                     False
Name: Name, dtype: bool

In [130]:
houston_named_zips.to_csv('./Data/houston_cleaned_zipcodes.csv', index = False)