### Import necessary libraries to scrape table and manipulate data for final pandas dataframe

In [1]:
import pandas as pd

### Use pandas to scrape table from url

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
table_content =  pd.read_html(url)
df = table_content[0]
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

### Rename columns

In [3]:
df.columns = ['PostalCode', 'Borough', 'Neighborhood']

In [4]:
df.head()

  PostalCode           Borough               Neighborhood
0        M1A      Not assigned                        NaN
1        M2A      Not assigned                        NaN
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

### Only keep rows that do not have Borough values == 'Not assigned'

In [5]:
df = df[df['Borough'] != 'Not assigned']

In [6]:
df.head()

  PostalCode           Borough                                 Neighborhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

### Check that each row has an assigned neighborhood

In [7]:
df_no_neighborhood = df[df['Neighborhood'] == '']

In [8]:
df_no_neighborhood.head()

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

### Reset index

In [9]:
df = df.reset_index(drop = True)

In [10]:
df.head()

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [11]:
df.tail()

,PostalCode,Borough,Neighborhood
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,Business reply mail Processing Centre
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

### Display shape of final df

In [12]:
df.shape

(103, 3)

### Retrieve geographical coordinates for each postal code

In [13]:
postal_codes = pd.read_csv('https://cocl.us/Geospatial_data')

In [14]:
postal_codes.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [15]:
postal_codes.columns = ['PostalCode', 'Latitude', 'Longitude']

In [16]:
postal_codes.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [17]:
postal_codes = postal_codes.set_index('PostalCode', drop = True)

In [18]:
postal_codes.head()

             Latitude  Longitude
PostalCode
M1B         43.806686 -79.194353
M1C         43.784535 -79.160497
M1E         43.763573 -79.188711
M1G         43.770992 -79.216917
M1H         43.773136 -79.239476

### Concatenate postal codes df with original df

In [19]:
df = df.set_index('PostalCode')

In [20]:
df.head()

                     Borough                                 Neighborhood
PostalCode
M3A               North York                                    Parkwoods
M4A               North York                             Victoria Village
M5A         Downtown Toronto                    Regent Park, Harbourfront
M6A               North York             Lawrence Manor, Lawrence Heights
M7A         Downtown Toronto  Queen's Park, Ontario Provincial Government

In [21]:
df = df.sort_index()

In [22]:
df.head()

                Borough                            Neighborhood
PostalCode
M1B         Scarborough                          Malvern, Rouge
M1C         Scarborough  Rouge Hill, Port Union, Highland Creek
M1E         Scarborough       Guildwood, Morningside, West Hill
M1G         Scarborough                                  Woburn
M1H         Scarborough                               Cedarbrae

In [23]:
geo_df = pd.concat([df,postal_codes], sort = True, axis = 1)

In [24]:
geo_df.head()

,Borough,Neighborhood,Latitude,Longitude
PostalCode,,,,
M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
M1G,Scarborough,Woburn,43.770992,-79.216917
M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [25]:
geo_df = geo_df.reset_index()

In [26]:
geo_df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

### Save df into a csv file for use in other notebooks

In [30]:
geo_df.to_csv('./Data/geo_df.csv', index = False)